environments {
	dev {
		serverName = 'slc04pgi.us.oracle.com'
		port = '7001'
		adminUser = 'weblogic'
		adminUserPwd = 'welcome1'
	}

	test {
		serverName = 'slc00bqs.us.oracle.com'
		port = '7021'
		adminUser = 'weblogic'
		adminUserPwd = 'welcome1'
	}

emclas {
           serverName = 'localhost'
           port = '7101'
           adminUser = 'weblogic'
           adminUserPwd = 'welcome1'
        }

}
