/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-8-29, 14:51:26
    Author     : guobaochen
*/

body, html {
  width: 100%;
  padding: 0;
  margin: 0;
}

.tile-container {
  max-width: none;
  width: 100%;
}

.white-background {
  background: #fff;
}

.dbd-column {
  padding-left: 1.5em;
  padding-top: 0.2em;
  margin: 0px 50px 10px;
  overflow: auto;
}

#tiles-row {
  width: 100%;
}

#tiles-row.dbd-one-page {
  width: 100%;
  margin: 0;
}

#tiles-col-container {
  padding-left: 0px;
  padding-right: 0px;
}

.dbd-tile {
  float: left;
  padding: 3px 10px;
}

#head-bar-container {
  padding: 0.5em 2em;
}

.dbd-translucency {
  filter:alpha(opacity=50);  
  -moz-opacity:0.50; 
  opacity:0.50; 
}

.dbd-gray img:not(.dbd-not-gray) {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

#builder-dbd-name {
  font-size: 1.286rem;
  font-family: inherit;
  line-height: 1.4em;
  color: #252525;
}

#builder-dbd-name .dbd-display-area {
  width: 800px;
}

#builder-dbd-name .dbd-display-hover-area {
  line-height: 1.75em;
  font-weight: bold;
}

#builder-dbd-name input {
  font-size: 1.286rem;
  font-family: inherit;
  line-height: 1.4em;
  height: 1.7em;
}

#builder-dbd-name:not(.editing) .dbd-edit-area {
  display: none;
}

#builder-dbd-name .dbd-edit-area .oj-inputtext {
  width: 700px;
  outline: none;
  border: 1px solid #999999;
  margin: 0;
}

#builder-dbd-description .dbd-display-area-text {
  line-height: 2.5em; 
}

#builder-dbd-description:not(.editing) .dbd-edit-area {
  display: none;
}

#builder-dbd-description .dbd-edit-area .oj-inputtext {
  width: 700px;
  outline: none;
  border: 1px solid #999999;
}

#builder-toolbar-left {
  padding-right: 180px;
  margin-right: -180px;
}

#builder-toolbar-left, #builder-dbd-description .dbd-display-hover-area, #builder-dbd-description .dbd-display-area-text {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

#builder-dbd-description .dbd-display-hover-area {
  max-width: 100%;
  width: auto;
}

#builder-dbd-description .dbd-display-hover-area:hover .dbd-display-area-text {
  padding-right: 40px;
  margin-right: -40px;
}

.dbd-toolbar-icon-add-widget:before {
  content: url(images/func_plus_16_ena.png);
}

.dbd-toolbar-icon-save:before {
  content: url(images/func_floppy_16_ena.png);
}

.builder-toolbar-button-text {
  color: rgb(0, 0, 0);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 8px;
  padding-bottom: 8px;
}

.editing .dbd-display-area {
  display: none;
}

.editing .dbd-edit-area {
  display: inline;
}

.dbd-display-area-editor-btn {
  display: none;
}

.dbd-display-area:not(.dbd-edit-disabled) .dbd-display-hover-area:hover .dbd-display-area-editor-btn {
  display: inline;
}

.dbd-tile-no-display {
  display: none;
}

.dbd-tile-maximized {
  width: 100%;
}

@media print and (orientation: landscape), screen and (min-width: 1024px) {
  .dbd-tile.oj-col.dbd-tile-maximized {
    width: 100%;
  }
}

@media print, screen and (min-width: 768px) {
  .dbd-tile.oj-col.dbd-tile-maximized {
    width: 100%;
  }
} 

@media print, screen {
  .dbd-tile.oj-col.dbd-tile-maximized {
    width: 100%;
  }    
}

.dbd-tile-dragging {
  border: 1px solid #ddd;
  height: 280px;
}

.dbd-tile-header {
  color: #333;
  background-color: #fff;
  padding: 1px 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 0px;
  border-color: #ddd;
  font-size: 14px;
  cursor: move;
  border-top: 1px solid #D8D6D6 !important;
  height: 32px;
}

.dbd-tile-action span.oj-button-icon:before {
  content: url('../images/func_threebullets_16_ena.png');
}

.dbd-tile-maximized .dbd-tile-header {
  cursor: default;
}

.dbd-pull-left {
  float: left!important;
}

.dbd-pull-right {
  float: right!important;
}

.dbd-pull-middle {
  vertical-align: middle;
}

.dbd-screenshot-zoomout {
  width: 25%;
}

.dbd-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.dbd-tile-header .dbd-tile-title {
  height: 2.34rem;
  line-height: 2.34rem;
  font-weight: bold;
  padding-right: 48px;
  margin-right: -48px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.dbd-tile-header .dbd-tile-action {
  float: right;
  display: block;
  margin-bottom: 1px;
}

.dbd-tile-element {
  border: 1px solid #d6dfe6; 
  overflow: auto;   
  height: 220px;
  clear: right;
  border-top:0px;
  background-color: white
}

.dbd-one-page .dbd-tile-element {
  height: 100%;
  border: 0px;
  overflow: hidden;
}

.dbd-one-page {
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}

.dbd-one-page iframe {
  border: 0px;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.dbd-one-page iframe::-webkit-scrollbar { 
  width: 0 !important;
}

.dbd-tile-maximized .dbd-tile-element {
  margin-bottom: 5em;
}

.dbd-tile-header-placeholder {
  border: 1px solid #d6dfe6;
  background-color: #F0CAC4;
  border-bottom: 1px solid #F0CAC4;
  color: #F0CAC4;
  border-top: 4px solid #F0CAC4 !important;
}

.dbd-tile-placeholder-inner {
  border: 1px solid #d6dfe6;
  background-color: #F0CAC4;
  border-top: 1px solid #F0CAC4;
  height: 231px;
  overflow: auto;
  border-top: 4px solid #F0CAC4 !important;
}

.oj-row>.oj-col>.oj-row.dbd-one-page {
  padding: 0;
}

html:not([dir="rtl"]) .oj-tabs-vertical.dbd-builder-tabs>.oj-tabs-nav {
  float: left;
  clear: none;
}

html:not([dir="rtl"]) .oj-tabs-vertical.dbd-builder-tabs>.oj-tabs-nav-root .oj-tabs-tab {
  border-width: 0 0 0 3px;
}

.dbd-one-page>.dbd-tile {
  padding: 0;
}

.dbd-one-page .dbd-tile-header {
  display: none;
}

.dbd-one-page .oj-panel {
  padding: 0;
}

/*#search_box { 
    width: 201px; 
    height: 31px; 
    background: url(images/func_add-folder_16_ena.png); 
    border:2px;
    border-radius: 5px;
    border-color:lightgray;
    border-style:solid;
    width:380px;
    height: 33px; 
    margin-bottom: 10px;
    background-color: #fcfdfe;
    
} 
#search_box #searchTxt { 
    float: left; 
    padding: 0; 
    border:0;
    width: 340px; 
    height:33px;
    background: none; 
    color:gray;
    font-size: medium;
    font-weight: bold;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #737373;
    margin-left: 0;
    margin-top: 0;
} 
#searchSelect .oj-select .oj-select-choice {
    height: 2.4rem;
}
#search_box #go { 
    float: right; 
} 

#searchSelect {
    border:2px;
    border-radius: 5px;
    border-color:lightgray;
    border-style:solid;
    width:370px;
    height: 33px; 
    margin-bottom: 10px;
    background-color: WhiteSmoke;
}
.widget-dialog-search-button {
    margin:0px;
    height:33px;
}

.widget-dialog-selector {
    height:30px;
    float:right;
    alignment-baseline: central;   
    font-weight: bold;
    color: gray;
}

.widget-image {
    padding-top: 24px;
    padding-right: 0px; 
}*/

/*.widget-content-text {
    font-weight: bold;
    font-size: large;
    margin: auto;
}

.widget-container {
    width:  239px;  174px; 
    height: 128px;  80px; 
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(234, 237, 239);white; #EAEAEA;
    border-color: #d6dfe6;
     line-height:134px; 
    float:left;
    border-radius: 5px;
    
    font-weight: bold;
    font-size: large;
    color:gray;
}

.widget-container:hover {
    background-color: #6495ED; lightblue;  #e371b2; 
    color: white;
}

.widget-summaries-container {
    background: #ffffff; 
}

.paging-previous-icon {
    height:45px;width:45px;
    content:url("images/navi-pre.png")
}

.paging-next-icon {
    height:45px;width:45px;
    content:url("images/navi-next.png")
}

.widget-search-icon {
    height:16px;width:16px;
    content:url("images/search-icon-24.png")
}

.widget-icon-button {
    #e371b2 
    background-color:  red; /*#EAEAEA; 
    border: 0;
    border-color: #EAEAEA;
    margin:0;
    padding: 0;
    height:45px;
    font-size: 4em;
    font-weight: 900;
    background: red;
    color: white;
    font-family: "Cooper Black", "Bauhaus 93", "Arial Rounded MT Bold", "HGSGothicE"; 
}

.widget-icon-button:hover {
    background-color:  #e371b2; /*#EAEAEA; 
    border: 0;
    border-color: #EAEAEA;
    margin:0;
    padding: 0;
     color: white; 
}*/

/*.widget-dialog-header-title {
    font-size: x-large;
    font-weight: bold;
    color: DimGray;
}

.widget-dialog-header-close {
    float:right;
    color: #4169E1;
    font-size: xx-small;
}

.widget-dialog-body {
    background-color:  #DDDDDD;
}

.widget-dialog-summary {
    width:100%;
    font-weight: bold;
    color: gray;
}

.widget-dialog-footer-notes {
     font-weight: bold; 
    float:left;
    margin-left: 5px;
    color:black;
    font-weight: bold;
    color: gray;
    font-size: small;
    padding-top: 14px;
}

.widget-detail-dialog-text {
    width: 360px;
 }*/
