/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-8-29, 14:51:26
    Author     : guobaochen
*/

body, html {
  width: 100%;
  /*height: 100%;*/
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#globalBody, .stretch-height {
  /*height: 100%;*/
}

.tile-container {
  max-width: none;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  width: 100%;
  padding-bottom: 90px;
}

.dbd-column {
  padding: 3em;
  padding-top: 2em;
  margin: 0px 50px 10px;
  overflow: auto;
}

#tiles-row {
  width: 100%;
}

#tiles-col-container {
  padding-left: 0px;
  padding-right: 0px;
}

.dbd-tile {
  float: left;
  padding: 3px 10px;
}

#head-bar-container {
  padding: 0.5em 3em;
  height: 76px;
}

.dbd-translucency {
  filter:alpha(opacity=50);  
  -moz-opacity:0.50; 
  opacity:0.50; 
}

#builder-dbd-name {
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
}

#builder-dbd-name input {
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  height: 1.4em;
}

#builder-dbd-name:not(.editing) .dbd-edit-area {
  display: none;
}

#builder-dbd-name .dbd-edit-area .oj-inputtext {
  width: 780px;
  outline: none;
  border: 1px solid #999999;
}

#builder-dbd-description .dbd-display-area-text {
  line-height: 2.5em; 
}

#builder-dbd-description:not(.editing) .dbd-edit-area {
  display: none;
}

#builder-dbd-description .dbd-edit-area .oj-inputtext {
  width: 780px;
  outline: none;
  border: 1px solid #999999;
}

#builder-dbd-description img {
  width: 10px;
}

.editing .dbd-display-area {
  display: none;
}

.editing .dbd-edit-area {
  display: inline;
}

.dbd-display-area-editor-btn {
  display: none;
}

.dbd-display-area:hover .dbd-display-area-editor-btn {
  display: inline;
}

.dbd-tile-no-display {
  display: none;
}

.dbd-tile-maximized {
  width: 100%;
  height: 90%;
}

.dbd-tile-dragging {
  border: 1px solid #ddd;
  height: 280px;
}

.dbd-tile-header {
  color: #333;
  background-color: #fff;
  padding: 1px 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid;
  border-bottom: 0px;
  border-color: #ddd;
  font-size: 14px;
  cursor: move;
  border-top: 2px solid #D8D6D6 !important;
}

.dbd-tile-maximized .dbd-tile-header {
  cursor: default;
}

.dbd-pull-left {
  float: left!important;
}

.dbd-pull-right {
  float: right!important;
}

.dbd-pull-middle {
  vertical-align: middle;
}

.dbd-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.dbd-tile-header .dbd-tile-title {
  height: 2.34rem;
  line-height: 2.34rem;
}

.dbd-tile-header .dbd-tile-action {
  float: right;
  display: block;
  margin-bottom: 1px;
}

.dbd-tile-element {
  border: 1px solid #d6dfe6;
  overflow: auto; 
  height: 220px;
  clear: right;
}

.dbd-tile-maximized .dbd-tile-element {
  height: 90%;
  margin-bottom: 5em;
}

.dbd-tile-header-placeholder {
  border: 1px solid #d6dfe6;
  background-color: #F0CAC4;
  border-bottom: 1px solid #F0CAC4;
  color: #F0CAC4;
  border-top: 4px solid #F0CAC4 !important;
}

.dbd-tile-placeholder-inner {
  border: 1px solid #d6dfe6;
  background-color: #F0CAC4;
  border-top: 1px solid #F0CAC4;
  height: 231px;
  overflow: auto;
  border-top: 4px solid #F0CAC4 !important;
}

#search_box { 
    /*width: 201px; 
    height: 31px; 
    background: url(images/func_add-folder_16_ena.png); */
    border:2px;
    border-radius: 5px;
    border-color:lightgray;
    border-style:solid;
    width:380px;
    height: 40px; 
    margin-bottom: 10px;
    background-color: WhiteSmoke;
    
} 
#search_box #searchTxt { 
    float: left; 
    padding: 0; 
    margin: 6px 0 0 6px; 
    border:0;
    width: 340px; 
    background: none; 
    color:gray;
} 
#search_box #go { 
    float: right; 
    
} 

#searchSelect {
    border:2px;
    border-radius: 5px;
    border-color:lightgray;
    border-style:solid;
    width:380px;
    height: 40px; 
    margin-bottom: 10px;
    background-color: WhiteSmoke;
}

.widget-container {
    width:  174px;
    height: 80px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
    background-color: white;
    border-color: #d6dfe6;
    /*text-align: center;
    vertical-align: middle;
    line-height:80px;*/
    float:left;
    border-radius: 5px;
}

.widget-container:hover {
    background-color: #e371b2;
}

.widget-summaries-container {
    /*background: #ffffff; */
}

.paging-previous-icon {
    /*height:45px;width:45px;*/
    content:url("images/navi-pre.png")
}

.paging-next-icon {
    /*height:45px;width:45px;*/
    content:url("images/navi-next.png")
}

.widget-search-icon {
    /*height:45px;width:45px;*/
    content:url("images/search-icon-24.png")
}

.widget-icon-button {
    /*#e371b2 */
    /*background-color:  red; /*#EAEAEA; */
    border: 0;
    border-color: #EAEAEA;
    margin:0;
    padding: 0;
    height:45px;
    /*font-size: 4em;
    font-weight: 900;
    background: red;
    color: white;
    font-family: "Cooper Black", "Bauhaus 93", "Arial Rounded MT Bold", "HGSGothicE"; */
}

.widget-icon-button:hover {
    /*background-color:  #e371b2; /*#EAEAEA; */
    border: 0;
    border-color: #EAEAEA;
    margin:0;
    padding: 0;
    /* color: white; */
}
