/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2014, 7:31:43 PM
    Author     : miao
*/
/* df: Dashboard Framework */

.df-dialog-header-close {
    float:right;
    color: red;
    font-size: xx-small;
}

a.df-dialog-header-close:visited {
    color: red;
}

.df-dialog-header-close-bigger {
    float:right;
    color: red;
    font-size: small;
}

a.df-dialog-header-close-bigger:visited {
    color: red;
}

a:hover {
 cursor:pointer;
}

.dbs-nav-mapping-icon-24:before{content:url("images/compassIcon_24.png");}
.dbs-nav-mapping-icon-32:before{content:url("images/compassIcon_32.png");}

.loadingIndicator{
    position:fixed;
    top:0;
    margin-left:-65px;
    width:120px;
    height:15px;
    left: 50%;
    z-index:999;
    background-color: #e6ffe0;
    padding: 5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-top:none;
    box-shadow: 2px 2px 2px #888888;
}