/* 
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/


.main-content-area {
    //background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d6dfe6;
    margin: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dbs-tab-container {
    //background: #ffffff;
    background: transparent;
    border-radius: 3px;
    border: 1px solid #d6dfe6;
    padding: 5px;
    min-height: 500px;
    background-color: transparent;
}

.dbs-summaries-container {
    //background: #ffffff;
}

.dbs-summary-container {
    width:  320px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    vertical-align: top;
    //background-color: #eff2f5;
    background: #ffffff;
    border-color: #d6dfe6;
}
/*
.dbs-summary-container:hover {
    width:  290px;
    height: 210px;
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    border: solid thick;
    border-color: #267db3;
}
*/
.dbs-summary-container-hover {
    border: solid thick;
    border-color: #85bbe7; //#267db3;
    cursor: pointer;
}

.dbs-summary-header-container {
    min-height:40px;
    height: 40px;
    border-radius: 3px;
    border-bottom: 2px solid #d6dfe6;
    
}

ul.dbs-summary-row {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul li.dbs-summary-row {
    list-style-type: none;
    padding: 5px;
    //margin: 5px;
    border-radius: 1px;
    border-bottom: #d6dfe6; 
    border-bottom-style: dotted;
}

.dbs-isolate-icon{content:url("images/s_max_ovr.png")}

.console-table-incon {
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 16px;
  padding-right: 5px;
  padding-bottom: 3px;
  line-height: 0;
  overflow: hidden;
  direction: ltr;
  text-align: center;
  vertical-align: bottom;
  -moz-box-sizing: content-box;
  box-sizing: content-box; 
}
.console-table-incon:before {
    display: inline-block;
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

.console-table-incon:after {
    display: inline-block;
    content: "  ";
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

.edit-search-input-text, .edit-folder-input-text {
    width: 300px;
}

.oj-label-required:before{content:'*'}

.icon-add-folder-ena-16:before{content:url("images/func_add-folder_16_ena.png");}

.icon-edit-ena-16:before{content:url("images/func_edit_16_ena.png");}

.icon-delete-ena-16:before{content:url("images/func_delete_16_ena.png");}

.icon-folder-open-16:before{content:url("images/qual_folderopen_16_mono.png");}

.icon-folder-open-system-16:before{content:url("images/qual_folderopen_16_mono_locked.png");}

.icon-folder-close-16-2x:before{content:url("images/qual_folderclose_16_mono@2x.png");}

.icon-search-results-24:before{content:url("images/navi_searchresults_24_ena.png");}

.icon-search-ena-24:before{content:url("images/navi_search_24_ena.png");}

.icon-pageline-16:before{content:url("images/func_pagelines_16_hov.png");}

.icon-pageline-system-16:before{content:url("images/func_pagelines_16_hov_locked.png");}
                                        
