/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-8-4, 10:50:27
    Author     : guobaochen
*/

#widget-area.dbd-support-transition .dbd-widget:not(.dbd-tile-in-dragging) {
    -webkit-transition: top 0.5s,
                        left 0.5s,
                        width 0.5s,
                        height 0.5s,
                        font-size 0.5s,
                        line-height 0.5s;
}

.tile-dragging-placeholder {display:none; position: absolute; 
    background-color: #F0CAC4;
    border-bottom: 1px solid #F0CAC4;
    margin-left: 10px;
    margin-top: 10px;
    color: #F0CAC4;
}