<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dashboardsui-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
  <servlet-name>fileServlet</servlet-name>
         <servlet-class>weblogic.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>fileServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>OMCMultiInstanceBeginFilter</filter-name>
    <filter-class>oracle.sysman.emInternalSDK.emaas.platform.servicemanager.security.multiInstances.filter.OMCMultiInstanceBeginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OMCMultiInstanceBeginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- ================= BEGIN Multi-Instance Sandwich ======================== -->

  <filter>
    <filter-name>OWSMSecurityFilter</filter-name>
    <filter-class>oracle.wsm.agent.handler.servlet.SecurityFilter</filter-class>
    <init-param>
          <param-name>servlet-name</param-name>
          <param-value>jersey</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>OWSMSecurityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>SecAuthorizationFilter</filter-name>
    <filter-class>oracle.sysman.emSDK.emaas.authz.listener.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecAuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- ================= END Multi-Instance Sandwich ======================== -->
  <filter>
    <filter-name>OMCMultiInstanceEndFilter</filter-name>
    <filter-class>oracle.sysman.emInternalSDK.emaas.platform.servicemanager.security.multiInstances.filter.OMCMultiInstanceEndFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>OMCMultiInstanceEndFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>CORS.filter</filter-name>
    <filter-class>oracle.sysman.emaas.platform.dashboards.ui.web.DashboardsUiCORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORS.filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
  <!--<filter>
  	<filter-name>compress.filter</filter-name>
    <filter-class>oracle.sysman.emaas.platform.dashboards.ui.web.GzipFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>compress.filter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>compress.filter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping> 
  <filter-mapping>
    <filter-name>compress.filter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>-->
  
  <filter>
    <filter-name>clickjack.filter</filter-name>
    <filter-class>oracle.sysman.emaas.platform.dashboards.ui.web.ClickjackingFilter</filter-class>
    <init-param>
      <param-name>mode</param-name>
      <param-value>DENY</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>clickjack.filter</filter-name>
    <url-pattern>/home.html</url-pattern>
    <url-pattern>/builder.html</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>homepage.filter</filter-name>
    <filter-class>oracle.sysman.emaas.platform.dashboards.ui.web.HomePageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>homepage.filter</filter-name>
    <url-pattern>/welcome.html</url-pattern>
    <url-pattern>/home.html</url-pattern>
  </filter-mapping>

    <filter>
        <filter-name>add.data.filter</filter-name>
        <filter-class>oracle.sysman.emaas.platform.dashboards.ui.web.AdditionalDataFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>add.data.filter</filter-name>
        <url-pattern>/welcome.html</url-pattern>
        <url-pattern>/home.html</url-pattern>
        <url-pattern>/error.html</url-pattern>
        <url-pattern>/builder.html</url-pattern>
    </filter-mapping>
    <!--<filter>
      <filter-name>nls.filter</filter-name>
      <filter-class>oracle.sysman.emaas.platform.uifwk.nls.filter.NLSFilter</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>nls.filter</filter-name>
      <url-pattern>/welcome.html</url-pattern>
      <url-pattern>/home.html</url-pattern>
      <url-pattern>/error.html</url-pattern>
      <url-pattern>/builder.html</url-pattern>
    </filter-mapping>-->
  
</web-app>
