/* 
    Created on : 2015-2-13, 20:37:08
    Author     : aduan
*/
.nav-mapping-icon-32:before{content:url("../images/compassIcon_32.png");}

a:hover {
 cursor: pointer;
}

.fa-icon-font {
  font-family: FaFont;
  font-size: 1.34rem;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-icon-font:before{
    display: inline-block;
}

/*.fa-link:before {
  content: "\f0c1"; 
}

.fa-star:before {
  content: "\f005"; }

.fa-history:before {
  content: "\f1da"; 
}*/

.fa-cogs:before {
  content: "\f085"; }

.fa-bar-chart:before {
  content: "\f080"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-notification:before {
  content: "\f0a2"; 
  /*color: #0CA3D1;*/
  color: #454545;
  font-size: larger;
}

.fa-compass:before {
  content: "\f14e"; 
  /*color: #0CA3D1;*/
  color: #454545;
  font-size: larger;
}

@font-face {
  font-family: 'FaFont';
  src: url("font-awesome/fonts/fontawesome-webfont.woff");
  font-weight: normal;
  font-style: normal; 
}


#links_menu{
    background-color: white;
    position: absolute;
    width: 100%;
    left:0px;
    z-index: 1000;
    max-height: 2000px;
    display: none;
    box-shadow: 3px 3px 5px #888888;
}
#links_menu .oj-row{
    height:24px;
    line-height: 24px;
}
#links_menu .links-content-container{
    margin : 30px auto; 
    width: 100%;
    text-align:center; 
}
.headerMenuItem {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    
}
#links_menu .iconCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.headerMenuIcon {
    display: inline-block;
    vertical-align: top;
}
.headerMenuText {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    text-align:left; 
}
@media screen and (max-width: 920px) and (min-width:600px) {
    #links_menu .links-content-container {
        margin : 30px auto;
        width: 620px;
        text-align:left; 
    }
    .headerMenuItem {
        width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    .headerMenuItem:last-child {
        display: inline-block;
        margin-top: 30px;
    }
}
@media screen and (max-width: 600px) {
    #links_menu .links-content-container {
        margin : 30px auto;
        width: 320px;
        text-align:left; 
    }
    .headerMenuItem {
        width: 300px;
        display: inline-block;
        margin-top: 30px;
        vertical-align: top;
    }
}
/*#iconLink{
    background-color: #ed813e;
}
#iconStar{
    background-color: #5a68ad;
}
#iconHistory{
    background-color: #3caf85;
}*/
#iconCogs{
    background-color: #3caf85;
}
#iconDashboard{
    background-color: #ed813e;
}
#iconAnalyzer{
    background-color: #5a68ad;
}

#links_menu .iconCircle .fa {
    font-size: 4em;
    color: white;
}

.emaas-appheader-appname-table-cell-middle{
    display:table-cell;
    vertical-align: middle;
}

.emaas-appheader-lite .emaas-appheader-logo {
    margin-top: 9px; 
    margin-bottom: 5px; 
    float:left;
    outline:none;
}

.emaas-appheader-logo .emaas-appheader-logo-img {
    vertical-align: middle;
    display:block;
}

.emaas-appheader-logo .emaas-appheader-logo-img:hover {
    cursor: pointer;
}

.emaas-appheader-lite .emaas-appheader-appname {
    font-size: 15px;
    font-weight: bold;
    color: #454545;
}

.emaas-appheader-lite .emaas-appheader-appname-oneline {
    font-weight:normal;
}

.emaas-appheader-lite .emaas-appheader-appname-twoline {
    font-weight:normal;
}

.emaas-appheader-logo-oracle {
    width: 158px;
    height: 20px;
}

.emaas-appheader-logo-oracle:before{
    content:url("../images/oracle_logo_lrg.png");
}

.emaas-appheader {
    background-color: #f5f5f5;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.emaas-appheader-toolbar-container .oj-toolbar {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
}

.emaas-appheader-lite .oj-toolbar {
    margin-top: 0px;
}

.emaas-appheader-toolbar-container{
    text-align:right;
    float:right;
}

.emaas-appheader-toolbar{
    height:27px; 
}

.emaas-icon-font{
    font-family:AppFont;
    font-size:1.34rem;
    line-height:1;
    display:inline-block;
    font-weight:normal;
    speak:none;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-align:center;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.emaas-icon-font:before{
    display:inline-block
}

.emaas-appheader-toolbar-button:hover {
    cursor: pointer;
}

.emaas-appheader-toolbar-button:disabled .fa-notification:before {
  color: #9e9e9e;
}

.emaas-appheader-toolbar-button:disabled .fa-compass:before {
  color: #9e9e9e;
}

.emaas-appheader-toolbar-button:disabled:hover {
  cursor: default;
}

@media screen and (max-width: 1023px) {
    .emaas-appheader-lite .emaas-appheader-seperator {
        display: none;
    }
    .emaas-appheader-lite .emaas-appheader-appname-oneline {
        display: none;
    }
    .emaas-appheader-lite .emaas-appheader-appname-twoline {
        display: block;
        padding-top: 2px;
    }
    .emaas-appheader-toolbar{
        height:44px;
    }
    .emaas-appheader-toolbar-button {
        height:44px;
        line-height: 44px;
    }
    .emaas-appheader-toolbar-button-icon {
        width:32px;
        height:32px;
        vertical-align: middle;
    }
    .fa-notification:before {
        font-size:xx-large;
    }
    .fa-compass:before {
        font-size:xx-large;
    }
}
@media screen and (min-width: 1024px) {
    .emaas-appheader-lite .emaas-appheader-seperator {
        display: inline-block;
    }
    .emaas-appheader-lite .emaas-appheader-appname-oneline {
        display: inline-block;
        padding-left: 10px;
    }
    .emaas-appheader-lite .emaas-appheader-appname-twoline {
        display: none;
    }
    .emaas-appheader-toolbar-button {
        height:27px;
        line-height: 27px;
    }
    .emaas-appheader-toolbar-button-icon {
        width:24px;
        height:24px;
    }
}