# ==============================================================================
# $Header: gradle.template 08-dec-2014.05:47:37 skgupta Exp $
#
# Copyright (c) 2014, Oracle and/or its affiliates. All rights reserved.
#
# NAME
# gradle.template
#
# AUTHOR
#
#
# DESCRIPTION
# Template file to dynamically generate gradle.properties
#
# NOTES
# 1. This file is a template for dynamically generating gradle.properties file for <lrg>.gradle; It must only
# contain the list of property names (NOT values), one per line.
# 2. The gradle.properties file will be created under $REPO_ROOT/tests/suites (as per gradle requirement).
# 3. This file (the template file) should contain name of the properties which are common across all lrgs
# Each line in this template file (which does not begin with '#') represent a project property which needs
# to be populated with actual value in the resultant gradle.properties file.
# 4. If any lrg specific property to be included in the generated 'gradle.properties', it must be included in
# $REPO_ROOT/tests/suites/<lrgName>.gradle.properties (create file if not already exist.)
# a) this is not template file which only has property names. It must be a properties file with key=value pair.
# b) IF this file has same key as in gradle.properties.template, the value in <lrg>.gradle.properties always
# takes precedence
# 5. After the LRG execution completes, the $REPO_ROOT/tests/suites/gradle.properties is moved to $T_WORK
# so as to be made available in farm results.
# The file is moved, also to ensure 'git' does not recognize it as untracked file.
#
# MODIFIED (MM/DD/YY)
# skgupta 11/24/14 - Updated the comments.
# skgupta 11/08/14 - Creation
# ==============================================================================
# PLEASE DO NOT EDIT THIS FILE
# ==============================================================================
##################################################################################
# System properties
##################################################################################
# System properties for proxy host & ports
systemProp.http.proxyHost
systemProp.http.proxyPort
systemProp.http.nonProxyHosts
 
##################################################################################
# Project properties
##################################################################################
# Property for artifactory url value
artifactory_contextUrl
# Property for the artifactory username value.
artifactory_user
# Property for the artifactory password value
artifactory_password
# Property for the repository name in the artifactory.
artifactory_repoName
# Property for the testInfra plugin version
testinfraVersion
# Property for the name of the lrg (without 'lrg' prefix)
lrgName
# Property for the location where the lrg metadata is available
# This will generally be $REPO_ROOT unless the project property 'lrgRepos' is specified
# to run lrg from different repository.
lrgMetadataLoc
# Property for the workingDir. This will be initially set in DevInfraPlugin
emdi.T_WORK
# Property for the VIEW_ROOT (REPO_ROOT). This will be initially set in DevInfraPlugin
emdi.GIT_VIEW_ROOT
