/* 
    Created on : 2015-3-19, 10:30:08
    Author     : aduan
*/
.fa-icon-font {
  font-family: FaFont;
  font-size: 1.34rem;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-icon-font:before{
    display: inline-block;
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

@font-face {
  font-family: 'FaFont';
  src: url("fonts/fontawesome-webfont.woff");
  font-weight: normal;
  font-style: normal; 
}

#widget-selector-searchbox { 
    /*width: 201px; 
    height: 31px; 
    background: url(images/func_add-folder_16_ena.png); */
    border:2px;
    border-radius: 5px;
    border-color:lightgray;
    border-style:solid;
    width:763px; //380px;
    height: 33px; 
    margin-bottom: 10px;
    background-color: #fcfdfe;
    
} 
#widget-selector-searchbox #searchTxt { 
    float: left; 
    padding: 0; 
    border:0;
    width: 723px; //340px; 
    height:33px;
    background: none; 
/*    color:gray;
    font-size: medium;
    font-weight: bold;*/
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #737373;
    margin-left: 0;
    margin-top: 0;
} 
/*#widget-selector-searchbox #go { 
    float: right; 
} */

#widget-selector-widgetgroups {
    border:2px;
    border-radius: 5px;
    border-color:lightgray;
    border-style:solid;
    width:370px;
    height: 33px; 
    margin-bottom: 10px;
    background-color: WhiteSmoke;
}

.widget-group-selector {
    height:30px;
    float:right;
    alignment-baseline: central;   
    font-weight: bold;
    color: gray;
}

.widget-selector-search-button {
    margin:0px;
    height:33px;
}

.widget-selector-screenshot {
    padding-top: 4px;
    /*padding-right: 0px;*/ 
    vertical-align: middle;
    text-align: center;
    display:block;
    /*width:198px;*/
    width: 100%;
    height: 140px;
}

.widget-selector-widget-desc {
    font-weight: bold;
    font-size: large;
    margin: auto;
}

.widget-selector-container {
    width:  200px;//239px; /* 174px; */
    height: 200px;//128px; /* 80px; */
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
/*    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;*/
    vertical-align: middle;
    text-align: center;
    background-color: rgb(234, 237, 239);/*white;*/ /*#EAEAEA;*/
    /*border-color: #d6dfe6;*/
    /* line-height:134px; */
    float:left;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #c4ced7;//lightblue;
    
    /*font-weight: bold;*/
    font-size: large;
    /*color:gray;*/
    box-sizing: border-box;
}

.widget-selector-container:hover {
/*    background-color: #6495ED; lightblue;  #e371b2; 
    color: white;*/
    border-color: #6495ED;
    border-width: 2px;
}

.widget-selector-container-selected {
    border-color: #6495ED;
    border-width: 2px;
}

.widget-summaries-container {
    /*background: #ffffff; */
}

.widget-search-icon {
    height:16px;width:16px;
    content:url("../images/search-icon-24.png")
}

.widget-selector-icon-button {
    /*#e371b2 */
    /*background-color:  red; /*#EAEAEA; */
    border: 0;
    border-color: #EAEAEA;
    margin:0;
    padding: 0;
    height:45px;
    /*font-size: 4em;
    font-weight: 900;
    background: red;
    color: white;
    font-family: "Cooper Black", "Bauhaus 93", "Arial Rounded MT Bold", "HGSGothicE"; */
}

.widget-selector-icon-button:hover {
    /*background-color:  #e371b2; /*#EAEAEA; */
    border: 0;
    border-color: #EAEAEA;
    margin:0;
    padding: 0;
    /* color: white; */
}

/*.widget-dialog-header-title {
    font-size: x-large;
    font-weight: bold;
    color: DimGray;
}

.widget-dialog-header-close {
    float:right;
    color: #4169E1;
    font-size: xx-small;
}*/

.widget-selector-body {
    /*background-color:  #DDDDDD;*/
}

.widget-box-navigation {
    height:20px;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
}

.widget-selector-container:hover .widget-box-navigation{
    height:18px;
}
.widget-selector-container-selected .widget-box-navigation {
    height:18px;
}

.widget-box-title {
    border-bottom: 1px solid #c4ced7;
    border-radius: 5px 5px 0px 0px;
    height:31px;
    line-height: 31px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f5f5f5;
    overflow: hidden; 
    text-overflow:ellipsis;
    white-space: nowrap; 
    text-align: left;
    vertical-align: middle;
    padding-left: 5px;
}

.widget-box-description {
    height:146px;
    background-color: white;
    font-size: 14px;
    text-align: left; 
    padding-left: 5px;
    padding-right: 5px;
}

.widget-box-screenshot {
    height:146px;
    background-color: white;
}

.widget-box-inactive {
    display: none;
}

.widget-box-navi-control {
    width:12px;
    height:12px;
    border-radius: 50%;
    background-color: #869791;
    display: inline-block;
    margin: 3px 5px;
}

.widget-box-navi-control-inactive {
    opacity: 0.3;
}

.widget-box-navi-control-inactive:hover {
    opacity: 0.5;
}

.oj-dialog-footer .widget-selector-button {
    margin-bottom: 4px; 
    background-image: none;
    text-shadow: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #0572ce;
    background: linear-gradient(to bottom, #0470c9 0%, #0571cd 50%, #0479d8 100%);
    border: 1px solid #0476d3;
    border-radius: 2px;
    text-align: right;
    box-shadow:none;  
    
} 

.oj-dialog-footer .widget-selector-button:hover {
    background-color: #3a9aea;
    border: 1px solid #3a9aea;  
    background-image: none;
}  

.oj-dialog-footer .widget-selector-button:disabled {
    background-color: #f4f6f7;
    background-image: none;
    border-color: #e0e6eb;
    color: #9e9e9e;
    cursor: default;
}

/*.widget-dialog-summary {
    width:100%;
    font-weight: bold;
    color: gray;
}*/

/*.widget-dialog-footer-notes {
     font-weight: bold; 
    float:left;
    margin-left: 5px;
    color:black;
    font-weight: bold;
    color: gray;
    font-size: small;
    padding-top: 14px;
}*/

/*.widget-detail-dialog-text {
    width: 360px;
 }*/
