/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-4-4, 10:51:17
    Author     : danfjian
*/
.time-slider-container {
  height: 45px;
  width: 92%;
  padding: 20px;
  position: relative;
  /* For IE8 - See #6727 */
  /* Component containers
  ----------------------------------*/
  /* Interaction states
  ----------------------------------*/ }
  .time-slider-container .ui-slider {
    position: relative;
    text-align: left; }
  .time-slider-container .ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    cursor: default; }
  .time-slider-container .ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0; }
  .time-slider-container .ui-slider.ui-state-disabled .ui-slider-handle,
  .time-slider-container .ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit; }
  .time-slider-container .ui-slider-horizontal {
    height: .8em; }
  .time-slider-container .ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em; }
  .time-slider-container .ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%; }
  .time-slider-container .ui-slider-horizontal .ui-slider-range-min {
    left: 0; }
  .time-slider-container .ui-slider-horizontal .ui-slider-range-max {
    right: 0; }
  .time-slider-container .ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em; }
  .time-slider-container .ui-widget .ui-widget {
    font-size: 1em; }
  .time-slider-container .ui-widget-content {
    border: 1px solid #aaaaaa;
    background: #ffffff 50% 50% repeat-x;
    color: #222222; }
  .time-slider-container .ui-widget-content a {
    color: #222222; }
  .time-slider-container .ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc 50% 50% repeat-x;
    color: #222222;
    font-weight: bold; }
  .time-slider-container .ui-widget-header a {
    color: #222222; }
  .time-slider-container .ui-state-default,
  .time-slider-container .ui-widget-content .ui-state-default,
  .time-slider-container .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 50% 50% repeat-x;
    font-weight: normal;
    color: #555555; }
  .time-slider-container .ui-state-default a,
  .time-slider-container .ui-state-default a:link,
  .time-slider-container .ui-state-default a:visited {
    color: #555555;
    text-decoration: none; }
  .time-slider-container .ui-state-hover,
  .time-slider-container .ui-widget-content .ui-state-hover,
  .time-slider-container .ui-widget-header .ui-state-hover,
  .time-slider-container .ui-state-focus,
  .time-slider-container .ui-widget-content .ui-state-focus,
  .time-slider-container .ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada 50% 50% repeat-x;
    font-weight: normal;
    color: #212121; }
  .time-slider-container .ui-state-hover a,
  .time-slider-container .ui-state-hover a:hover,
  .time-slider-container .ui-state-hover a:link,
  .time-slider-container .ui-state-hover a:visited,
  .time-slider-container .ui-state-focus a,
  .time-slider-container .ui-state-focus a:hover,
  .time-slider-container .ui-state-focus a:link,
  .time-slider-container .ui-state-focus a:visited {
    color: #212121;
    text-decoration: none; }
  .time-slider-container .ui-state-active,
  .time-slider-container .ui-widget-content .ui-state-active,
  .time-slider-container .ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: white 50% 50% repeat-x;
    font-weight: normal;
    color: #212121; }
  .time-slider-container .ui-state-active a,
  .time-slider-container .ui-state-active a:link,
  .time-slider-container .ui-state-active a:visited {
    color: #212121;
    text-decoration: none; }
  .time-slider-container .slider-bar-zoom {
    position: relative;
    left: 100%;
    top: -18px;
    margin-left: 10px;
    float: left; }
    .time-slider-container .slider-bar-zoom .slider-bar-zoom-in {
      position: absolute;
      margin-left: 25px;
      height: 24px;
      width: 24px;
      background-image: url("images/zoom_in.png"); }
    .time-slider-container .slider-bar-zoom .slider-bar-zoom-out {
      position: absolute;
      height: 24px;
      width: 24px;
      background-image: url("images/zoom_out.png"); }
  .time-slider-container .splitter-bar, .time-slider-container .scale-bar {
    position: relative;
    height: 10px; }
  .time-slider-container .splitter-bar span {
    position: absolute;
    width: 1px;
    height: 10px;
    border-left: 1px solid #cccccc; }
  .time-slider-container .scale-bar span {
    position: absolute; }
  .time-slider-container .time-filter .total-start-selector input, .time-slider-container .time-filter .total-end-selector input {
    width: 58px; }
  .time-slider-container .time-filter .total-start-selector > div, .time-slider-container .time-filter .total-end-selector > div {
    width: auto;
    min-width: initial; }
  .time-slider-container .time-filter .relative-time-selector {
    display: inline-block;
    right: 10px;
    position: absolute; }
    .time-slider-container .time-filter .relative-time-selector span {
      margin-right: 10px; }
      .time-slider-container .time-filter .relative-time-selector span a {
        cursor: pointer;
        text-decoration: none; }
    .time-slider-container .time-filter .relative-time-selector .advanced-options {
      display: inline-block; }
      .time-slider-container .time-filter .relative-time-selector .advanced-options span {
        margin-left: 4px;
        margin-right: 3px; }
      .time-slider-container .time-filter .relative-time-selector .advanced-options > div {
        display: none; }
      .time-slider-container .time-filter .relative-time-selector .advanced-options .relative-time-Options .oj-select {
        width: 72px; }
      .time-slider-container .time-filter .relative-time-selector .advanced-options .oj-inputnumber {
        width: 60px;
        min-width: 60px;
        margin-top: -2px; }
      .time-slider-container .time-filter .relative-time-selector .advanced-options .oj-select {
        width: 128px;
        min-width: 6em;
        margin-left: -3px; }
      .time-slider-container .time-filter .relative-time-selector .advanced-options .toggleOptions {
        color: black;
        padding-left: 0.5em;
        cursor: pointer; }