/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-5-5, 14:52:42
    Author     : aduan
*/
#time_selector_box { 
    float:left;
    border-radius: 2px;
    border: 1px solid #dfe4e7;
    width:400px;
    height: 32px; 
    background-color: #fcfdfe;
    line-height: 32px; 
    vertical-align: middle;
} 
#time_selector_box #time_selector_txt { 
    float: left; 
    padding: 0 0 0 5px; 
    border:0;
    width: 370px; 
    height: 32px;
    background: none; 
    color: #000000;
    font-size: 12px;
    margin-left: 0;
    margin-top: 0;
} 

#time_selector_box #time_selector_icon { 
    float:right;
    display:inline-block;
    height: 32px;
} 

#time_selector_box .time_selector_time_link {
    display:inline-block;
    padding-top: 5px;
}

#time_selector_box .fa-icon-font {
  font-family: FaFont;
  font-size: 16px;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

#time_selector_box .fa-icon-font:before{
    display: inline-block;
}

#time_selector_box .fa-caret-down {
    height:32px;
    line-height: 32px;
    vertical-align: middle;
    color:#878c90;
    padding-right: 5px;
}

#time_selector_box .fa-caret-down:before {
  content: "\f0d7"; 
}

@font-face {
  font-family: 'FaFont';
  src: url("/emsaasui/uifwk/emcsDependencies/uifwk/css/font-awesome/fonts/fontawesome-webfont.woff");
  font-weight: normal;
  font-style: normal; 
}
