.dropdown {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #fcfdfe;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
    border-radius: 2px;
    padding-left:8px;
    height: 34px; 
    width: auto;
    line-height: 32px;
    display: inline-block;
}
.panel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
    border-radius: 2px;
    /*padding: 10px;*/
    height: 387px;
    width: 630px;
}
.drawers {
    width: 104px;
    float: left;
    height: 387px;
    background-color: #f0f0f0;
}
.drawer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: #f0f0f0;
    color: #333333;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
    padding-left: 8px;
    padding-top: 14px;
    height: 23px;
    width: 94px;
    display: block;
}

.drawers a:visited {
    color: black;
}
.drawers a:link, a:hover {
    text-decoration: none;
}

.pickerPanel {
    width: 510px;
    height: 387px;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.chosenDate {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: inline;
    height: 30px;
    width: 60px;
    line-height: 30px;
    vertical-align: middle;
}
.to {
    padding: 5px;
    display: inline-block;
}
.chosenTime {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: inline-block;
    height: 32px;
    width: 100px;
    vertical-align: middle
}
.buttons {
    margin: 10px;
}
.errorMsg {
    margin: 10px;
    font-size: 14px;
    color: red;
    font-weight: bold;
    width: 510px;
}
.datePicker {
    font-size: 15px;
    padding-top: 10px;
}

.drawer img {
    float: right;
    margin: auto;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 5px
}

.date-selected {
    background-color: #0572ce;
}

.input-focus {
    border: 1px solid  #47bdef;;
}

.input-error {
    border: 2px solid #d66;
}

/*set min-width of ojInputText*/
.oj-inputtext {
    min-width: 90px;
}

.oj-datepicker-inline .oj-datepicker-content {
    border: 0px;
}

/*set the header of calender*/
.oj-datepicker-header {
    height: 25px;
    background-color: #f0f0f0;
}

/*set max-width of the calendar*/
.oj-inputdatetime-inline {
    max-width: 250px;
}

/*set the border of each day*/
.oj-datepicker-calendar td a.oj-enabled {
    border: 3px solid white;
}
.oj-datepicker-calendar td span.oj-disabled {
    border: 3px solid white;
}

.oj-datepicker-calendar td a.oj-selected {
    color: #000000;
}