.dropdown {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #fcfdfe;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
    border-radius: 2px;
 /*   padding-top: 13px;
    padding-bottom: 13px;*/
    padding-left:8px;
    height: 32px;
 /*   width: 430px;*/  
    width: auto;
    /*margin-top: 10px;*/
    line-height: 32px; /*******/
    display: inline-block;
}
.panel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
    border-radius: 2px;
    padding: 10px;
    height: 391px;
    width: 630px;
}
.drawers {
    width: 109px;
    float: left;
}
.drawer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    background-color: #f0f0f0;
    color: #333333;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
    padding-left: 8px;
    padding-top: 14px;
    height: 23px; /*self define*/
    width: 109px;
    display: block;
}

.drawers a:visited {
    color: black;
}
.drawers a:link, a:hover {
    text-decoration: none;
}

.pickerPanel {
    width: 510px; /***/
    height: 391px;
    float: right;
}
.chosenDate {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*                border-style: solid;
                    border-width: 1px;
                    border-color: #dfe4e7;
                    border-radius: 2px;*/
    display: inline;
    height: 30px;
    width: 60px;
    line-height: 30px;
    vertical-align: middle;
}
.to {
    padding: 5px;
    display: inline-block;
}
.chosenTime {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    /*                border-style: solid;
                    border-width: 1px;
                    border-color: #dfe4e7;
                    border-radius: 2px;*/
    display: inline-block;
    height: 32px;
    width: 100px;
    vertical-align: middle
}
.buttons {
    margin: 10px;
}
.datePicker {
    font-size: 14px;
}

.drawer img {
    float: right;
    margin: auto;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 5px
}

.date-selected {
    background-color: #0572ce;
    /*border: 1px solid red;*/
    /*color: #ffffff;*/
}

.input-focus {
    border: 1px solid  #47bdef;;
}

/*set min-width of ojInputText*/
.oj-inputtext {
    min-width: 90px;
}

.oj-datepicker-inline .oj-datepicker-content {
    border: 0px;
}

/*set the header of calender*/
.oj-datepicker-header {
    height: 25px;
    background-color: #f0f0f0;
}

/*set max-width of the calendar*/
.oj-inputdatetime-inline {
    max-width: 250px;
}

/*set the border of each day*/
.oj-datepicker-calendar td a.oj-enabled {
    border: 3px solid white;
}
.oj-datepicker-calendar td span.oj-disabled {
    border: 3px solid white;
}

.oj-datepicker-calendar td a.oj-selected {
    color: #000000;
}
/*            .oj-inputdatetime-input {
                height: 32px;
            }*/
