/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-8-29, 14:51:26
    Author     : guobaochen
*/

@font-face {
    font-family: 'FaFont';
    src: url("../../libs/@version@/css/font-awesome/fonts/fontawesome-webfont.woff2") format('woff2'),
        url("../../libs/@version@/css/font-awesome/fonts/fontawesome-webfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
} 
 

.fa-icon-font {
  font-family: FaFont;
  font-size: 1.34rem;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit !important;
} 

.fa-icon-font-16 {
    font-size: 16px !important;
} 

.fa-icon-font-14 {
    font-size: 14px !important;
}

.fa-icon-font-18 {
    font-size: 18px !important;
}

body, html {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden!important;
  height: 100%;
}

.globalBody {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.globalBody.none-user-select{
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    }
    
.builder-main {
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.stretch-width {
  width: 100%;
}

.white-background {
  background: #fff;
}

.dbd-column {
  padding-left: 1.5em;
  padding-top: 0.2em;
  margin: 0px 50px 10px;
  overflow: auto;
}

#tiles-row {
  width: 100%;
}

#tiles-row.dbd-one-page {
  width: 100%;
  margin: 0;
}

.tiles-col-container {
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden !important; 
    overflow-y: scroll;
    position: relative;

    .df-toolbar {
        .oj-button {
            width:35px;
            margin-top: 5px;
            vertical-align:top;
            .oj-button-text {
                padding-right: 0 !important;
            }
            .oj-button-icon {
                margin-bottom: 4px !important;
            }
        }

        .dashboardOptsBtn {
            .oj-button-menu-dropdown-icon{
                display: none;
            }
            .dbd-toolbar-icon-option{
                height: 30px;
                &:before{
                    height: 30px;
                }
            }
        }

        .dashboardSaveBtn{
            .dbd-toolbar-icon-save{
                height: 30px;
                &:before{
                    height: 30px;
                }
            }
        }

        .oj-toolbar-separator {
            margin: 8px 8px 8px 8px;
            vertical-align: top;
        }


        .df-date-time-picker {
            display: inline-block;
            vertical-align: top;
            margin-top: 5px;
            margin-left:5px;
            margin-bottom: 1px;
        }
        
        .df-target-selector {
            display: inline-block;
            margin-top:5px;
            margin-left:8px;

        }
    }
}

.dbd-tile {
  float: left;
  padding: 3px 10px;
}

.head-bar-container {
  padding: 2px 2em;
}

.dbd-translucency {
  filter:alpha(opacity=50);  
  -moz-opacity:0.50; 
  opacity:0.50; 
}

.dbd-gray img:not(.dbd-not-gray) {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.builder-dbd-name {
  font-size: 1.286rem;
  font-family: inherit;
  line-height: 34px;
  vertical-align: middle;
  color: #252525;
}

.builder-dbd-name .dbd-display-area {
  width: inherit;
}

.builder-dbd-name .dbd-display-hover-area {
  line-height: 1.75em;
  font-weight: bold;
}

.builder-dbd-name .dbd-display-hover-area h1 {
  font-size: 1.286rem;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin: 0;
  display: inline;	
}

.builder-dbd-name input {
  font-size: 1.286rem;
  font-family: inherit;
  line-height: 1.4em;
  height: 1.7em;
}

.builder-dbd-name:not(.editing) .dbd-edit-area {
  display: none;
}

.builder-dbd-name .dbd-edit-area .oj-inputtext {
  width: 700px;
  outline: none;
  border: 1px solid #999999;
  margin: 0;
}

.builder-dbd-description .dbd-display-area-text {
  line-height: 2.5em; 
}

.builder-dbd-description:not(.editing) .dbd-edit-area {
  display: none;
}

.builder-dbd-description .dbd-edit-area .oj-inputtext {
  width: 700px;
  outline: none;
  border: 1px solid #999999;
}

.builder-dbd-description .font-style-italic{
    font-style: italic !important;
}

.builder-toolbar-left {
    /*  padding-right: 180px;
      margin-right: -180px;*/
    padding-right:5px;
}

.tooltip-description{
    border-bottom:0;
}

.builder-dbd-description {
    .dbd-display-hover-area {
        box-sizing: border-box;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        width: auto;
    }
    .single-dbd-description{
        width:100%
    }
}

.builder-toolbar-left, .builder-dbd-description .dbd-display-area-text {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float:left;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  margin-top: 1px;
}


/*.builder-dbd-description .dbd-display-hover-area:hover .dbd-display-area-text {
  padding-right: 40px;
  margin-right: -40px;
}*/

.fa-question-circle:before {
    content: "\f059";
}

.dbd-toolbar-icon-add-widget:before,.fa-plus:before {
  content: "\f067";
}

.dbd-toolbar-icon-save:before {
  content: "\f0c7";
}

.dbd-toolbar-icon-options:before {
  content: url(../images/func_gear_16_ena.png);
}

.dbd-toolbar-icon-edit:before,.fa-pencil-df:before {
  content: "\f040";
}
.dbd-wrench:before{
   content: "\f067"; 
}

.dbd-toolbar-icon-refresh:before,.fa-refresh:before {
  content: "\f021";
}

.fa-check:before {
    content:"\f00c";
    color: #0572ce;
}

.dbd-toolbar-icon-duplicate:before {
  content: "\f0c5";
}

.demo-icon-font img{
    height: 16px;
    width: 16px;
}

.dbd-toolbar-icon-delete:before {//func_trashcan_16_ena
    content:" ";
    background:url(../images/dfSprite.png) no-repeat 0px -416px;height:16px;padding-left:18px;
}

.dbd-toolbar-icon-add-widget-disabled:before {//func_plus_16_dis
    content:" ";
    background:url(../images/dfSprite.png) no-repeat 0px -144px;height:16px;padding-left:18px;
}

.dbd-toolbar-icon-edit-disabled:before {//func_edit_16_dis
    content:" ";
    background:url(../images/dfSprite.png) no-repeat 0px -512px;height:16px;padding-left:18px;
}

.dbd-toolbar-icon-delete-disabled:before {//func_trashcan_16_dis
    content:" ";
    background:url(../images/dfSprite.png) no-repeat 0px -240px;height:16px;padding-left:18px;
}
.dbd-toolbar-icon-home:before {//func_home_16_ena
    content:" ";
    background:url(../images/dfSprite.png) no-repeat 0px -896px;height:16px;padding-left:18px;
}
 
 .dbd-toolbar-icon-home-outline:before {//remove_home_16
    content:" ";
    background:url(../images/dfSprite.png) no-repeat 0px -160px;height:16px;padding-left:18px;
}
 
 .dbd-toolbar-icon-favorites:before {//func_star_16_ena
    content:" ";
    background:url(../images/dfSprite.png) no-repeat 0px -192px;height:16px;padding-left:18px; }

.dbd-toolbar-icon-share:before, .fa-users:before {
  content: "\f0c0";
  padding-bottom: 3px;
} 

.dbd-toolbar-icon-unshare:before, .fa-user:before {
  content: "\f007";
  padding-bottom: 3px;
}

.builder-toolbar-right{
    .dashboardOptsBtn {
        .oj-button-menu-dropdown-icon{
            display: none;
        }
        .oj-button-text{
            margin-right: 0.857rem;
        }
        .dbd-toolbar-icon-option{
            height: 30px;
            &:before{
                height: 30px;
            }
        }    
    }
    .dashboard-screenshot{
        .dbd-toolbar-icon-save{
            height: 30px;
            &:before{
                height: 30px;
            }
        }
    }
}

.dbd-toolbar-icon-print:before, .fa-print:before {
  content: "\f02f";
}

.fa-star:before {
  content: "\f005"; }

.fa-star-o:before {
  content: "\f006"; }

.dbd-toolbar-fa-icon {
    width: 16px;
    font-family: FaFont;
    font-size: 1.24rem;
    display: inline-block;
    font-weight: normal;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dbd-toolbar-fa-icon-16 {
    font-size: 1.06rem;
}

.builder-toolbar-button-text {
  color: rgb(0, 0, 0);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  margin-left: 8px;
  padding-bottom: 8px;
}

.editing .dbd-display-area {
  display: none;
}

.editing .dbd-edit-area {
  display: inline;
}

/*.editing #text-widget-editor-btn {
    display: none;
}*/

.dbd-display-area-editor-btn {
  display: none;
}

.dbd-display-area:not(.dbd-edit-disabled) .dbd-display-hover-area:hover .dbd-display-area-editor-btn {
  /*display: inline;*/
  display: none;
}

.dbd-tile-no-display {
  display: none;
}

.dbd-tile-maximized {
  width: 100%;
  max-width:100%;
}

@media print and (orientation: landscape), screen and (min-width: 1024px) {
  .dbd-tile.oj-col.dbd-tile-maximized {
    width: 100%;
  }
}

@media print, screen and (min-width: 768px) {
  .dbd-tile.oj-col.dbd-tile-maximized {
    width: 100%;
  }
} 

@media print, screen {
  .dbd-tile.oj-col.dbd-tile-maximized {
    width: 100%;
  }
}

.dbd-tile-dragging {
  border: 1px solid #ddd;
  height: 280px;
}

.dbd-widget:not(.dbd-tile-edit-disabled):not(.ui-draggable-disabled) .dbd-tile-header {
  cursor: move;
}

.widget-area.dbd-support-transition .dbd-widget:not(.dbd-tile-in-dragging), 
.widget-area.dbd-support-transition .dbd-widget:not(.dbd-tile-in-dragging) .dbd-tile-element {
    -webkit-transition: top 0.5s,
                        left 0.5s,
                        width 0.5s,
                        height 0.5s,
                        font-size 0.5s,
                        line-height 0.5s;
        -moz-trasition: top 0.5s,
                        left 0.5s,
                        width 0.5s,
                        height 0.5s,
                        font-size 0.5s,
                        line-height 0.5s;
            transition: top 0.5s,
                        left 0.5s,
                        width 0.5s,
                        height 0.5s,
                        font-size 0.5s,
                        line-height 0.5s;
}

.tile-dragging-placeholder {    
    -webkit-transition: top 0.5s, 
        left 0.5s, 
        width 0.5s,
        height 0.5s,
        font-size 0.5s,
        line-height 0.5s;
    -moz-transition: top 0.5s, 
        left 0.5s, 
        width 0.5s,
        height 0.5s,
        font-size 0.5s,
        line-height 0.5s;
    transition: top 0.5s,
        left 0.5s,
        width 0.5s,
        height 0.5s,
        font-size 0.5s,
        line-height 0.5s;
    
    display:none; 
    position: absolute; 
    background-color: #F0CAC4;
    border-bottom: 1px solid #F0CAC4;
    margin-left: 10px;
    margin-top: 10px;
    color: #F0CAC4;
}

.builder-dbd-name {
    font-size: 1.286rem;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    left: 20px;
    display: inline;
    width: 100%;
}

.dbd-tile-maximized .dbd-tile-header {
  cursor: default;
}

.dbd-pull-left {
  float: left!important;
}

.dbd-pull-right {
    position: absolute;
    right: 5px;
    background-color: #fff;
    
    button {
        margin-bottom: 0;
    }
}

.dbd-pull-middle {
  vertical-align: middle;
}

.dbd-screenshot-zoomout {
  width: 25%;
}

.dbd-btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  .dbd-tile-action{
      .oj-button-menu-dropdown-icon{
          display: none;
      }
      .oj-button-text{
          display: none;
      }
      .dbd-tile-icon-option{
          height: 30px;
          //hack default
          margin-left: 0.5rem !important;
          margin-top: -3px;
      }
  }
}

.dbd-widget[ismobile="false"] .dbd-btn-editor {
    display: none;
}

.dbd-widget[ismobile="false"] .dbd-btn-maxminToggle {
    display: none;
}

.dbd-widget[ismobile="false"] .dbd-btn-group {
    display: none;
}

.dbd-widget[ismobile="false"]:hover .dbd-btn-group {
    display: inline-block;
}

.dbd-tile-container {
    position: absolute; 
    top: 0; 
    left: 0px; 
    right: 0;
    bottom: 0px;
    margin: 5px;
    max-width:none;
    border: 1px solid #d6dfe6; 
    border-radius: 0;
    outline:0;
    
    .dbd-tile-header{
        color: #333;
        background-color: #fff;
        padding: 1px 8px;
        height: 32px;
        font-size: 14px;
        /*
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 0px;
        border-radius: 0;
        margin-right: -2px;
        */
        .dbd-tile-action {
            float: right;
            display: block;
            margin-bottom: 1px;
            width: 20px;
            height: 32px;
            min-width: 36px;
            min-height: 32px;
            border-radius: 0;
        }

        h2.dbd-tile-title {
            height: 2.34rem;
            line-height: 2.34rem;
            font-weight: bold;
            padding-right: 23px;
            width: 100%;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float:left;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            font-size: 1.0em;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            margin: 0px;
            /* margin-right: -48px; */
            display: inline-block;
        }

        .dbd-btn-maxminToggle{
            button{
                float: right;
                display: block;
                width: 18px;
                height: 30px;
                min-width: 36px;
                min-height: 32px;
                border-radius: 0;
                margin-left: 2px;  
            }
            .dbd-title-edit{
                margin-top: -1px;
            }
            .oj-button-text{
                margin-left: -6px;
            }
        }
        .dbd-btn-editor{
            button{
                float: right;
                display: block;
                margin-bottom: 1px;
                width: 20px;
                height: 32px;
                min-width: 36px;
                min-height: 32px;
                border-radius: 0;
            }
            .dbd-title-edit{
                margin-left: 10px !important;
                margin-right: -5px !important;
                height:30px;
                &:before{
                    content:"\f08e"; 
                    height: 30px
                }
            }
        }
    }

    .dbd-tile-element {
        height:calc(100% - 34px);
        width:auto;
        overflow: auto;
        clear: right;
        background-color: white;
        border-radius: 0;
    }
    
    .dbd-resize-handler {
        color:#d6dfe6;
        position:absolute;
        z-index:91;
    }
    
    .dbd-resize-handler-right {
        width:6px;
        height:100%;
        right:-5px;
        top:0px;
    }
  
     .dbd-resize-handler-left {
        width:6px;
        height:100%;
        left:-5px;
        top:0px;
    }
        
    .cursor-resize-ew{
        cursor:ew-resize;
    }
    .cursor-resize-ns{
        cursor:ns-resize;  
    }
    
    .dbd-resize-handler-bottom{
        height: 6px;
        width:100%;
        left:0px;
        bottom: -5px;  
    }
    
    .dbd-resize-handler-right-bottom {
        cursor:se-resize;
        right:1px;
        bottom:0px;
        > span {
            color:#878c90;
        }
    }
}

.dbd-one-page .dbd-tile-element {
  height: 100%;
  border: 0px;
  overflow: hidden;
}

.dbd-one-page {
  overflow: hidden;
  padding-right: 0;
  padding-left: 0;
}

.dbd-one-page iframe {
  border: 0px;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.dbd-one-page iframe::-webkit-scrollbar { 
  width: 0 !important;
}

/*.dbd-tile-maximized .dbd-tile-element {
  margin-bottom: 5em;
}*/

.dbd-tile-header-placeholder {
  border: 1px solid #d6dfe6;
  background-color: #F0CAC4;
  border-bottom: 1px solid #F0CAC4;
  color: #F0CAC4;
  border-top: 4px solid #F0CAC4 !important;
}

.dbd-tile-placeholder-inner {
  border: 1px solid #d6dfe6;
  background-color: #F0CAC4;
  border-top: 1px solid #F0CAC4;
  height: 231px;
  overflow: auto;
  border-top: 4px solid #F0CAC4 !important;
}

.oj-row>.oj-col>.oj-row.dbd-one-page {
  padding: 0;
}

html:not([dir="rtl"]) .oj-tabs-vertical.dbd-builder-tabs>.oj-tabs-nav {
  float: left;
  clear: none;
}

html:not([dir="rtl"]) .oj-tabs-vertical.dbd-builder-tabs>.oj-tabs-nav-root .oj-tabs-tab {
  border-width: 0 0 0 3px;
}

.dbd-one-page>.dbd-tile {
  padding: 0;
}

.dbd-one-page .dbd-tile-header {
  display: none;
}

.dbd-one-page .oj-panel {
  padding: 0;
}

.drawer-icon-btn {
    width: 32px;
}

.df-right-panel {
    position: absolute;
    right: 0;

  .right-panel-toggler {
    margin-top: 10px;
    right: 282px;
    z-index: 999;
    max-width: 30px;
    padding-left: 5px;
    position: absolute;

    .oj-button {
      display: block;
      float: left;
      margin-bottom: 0;
      border-right: none;
      border-radius: 0;
      outline: none;

      .oj-button.oj-selected .oj-button-label {
        border-right: 1px solid white
      }

    }

    .oj-buttonset-first {
      border-top-left-radius: 2px !important;
    }

    .right-panel-help-btn {
      border-bottom-left-radius: 2px !important;
      border-bottom: 1px solid #c4ced7 !important;
    }

    .drawer-icon-btn.df-selected {
      //hack oj default
      background-image: none !important;
      background-color: white !important;
      border-color: #c4ced7 !important;
      .oj-button-icon {
        color: #0572ce !important;
      }
    }

    .rightpanel-pencil{
      border-top: 0;
    }

    .oj-focus,oj-focus-only{
       outline: dotted 1px;
       outline: -webkit-focus-ring-color auto;
    }

  }

    @mixin dbd-standard{
        font-weight: 500 !important;
    }
    
  .dbd-left-panel {
    height: 1000px;
    right: 0;
    border-left: 1px solid #d6dfe6;
    background: #fff;
    position: absolute;
    width:0;
        
    .oj-listview-group-item {
        @include dbd-standard;
    }

    .oj-collapsible-header {
        @include dbd-standard;
    }
    
    .oj-label label {
        @include dbd-standard;
    }
    
    button {
        @include dbd-standard;
    }
    
    .dbd-right-panel-editdashboard-container .oj-collapsible-wrapper{
        margin-left: 16px;
    }
    
    label[for='editDbdDscp'] {
        margin-top: 8px;
    }
    
    label[for='editDbdSetDscp'] {
        margin-top: 8px;
    }
    
    .df-label{
        @include dbd-standard;
        margin-bottom:0;
    }
    
    &.dbd-left-panel-show {
      width: 320px;
    }

    &.dbd-left-panel-hide {
      width: 0;
    }

    &.dbd-no-left-panel {
      display: none;
      width: 0;
    }


    .dbd-right-panel-editdashboard-container{
      width: 100%;
      overflow-x: hidden;
      position: relative;
      height: auto;
      .checkboxControledContent{
        margin-left: 15px;
      }
    }

    //right panel editdashboard collapsible icon removed
    .dbd-right-panel-editdashboard-container>div>span>a{
      display: none;
    }

    .dbd-right-panel-editdashboard-container>div>div{
      margin-top: 10px;
    }

    //right panel define collapsible default style changed
    .dbd-right-panel-editdashboard-container>div{
      padding-left: 0.857rem;
      padding-right: 0.857rem;
    }
    .dbd-right-panel-editdashboard-container>div>div{
      margin-left:1.2rem;
    }

    .dbd-left-panel-header {
      width: 100%;
      height: 43px;

      .left-panel-dbd-clear-icon:before {//clearEntry_ena
        height:16px;
        width:16px;
        content:" ";
        background:url(../images/dfSprite.png) no-repeat 0px -656px;height:16px;padding-left:18px;
      }

      .left-panel-dbd-search-icon:before {//func_search_16_ena
        height:16px;
        width:16px;
        content:" ";
        background:url(../images/dfSprite.png) no-repeat 0px -208px;height:16px;padding-left:18px;
      }

      .dbd-left-panel-header-search {
        border: 1px;
        border-radius: 2px;
        border-color: #c4ced7;
        border-style: solid;
        height: 32px;
        margin: 10px 10px 10px 10px;
        background-color: #fcfdfe;
        float: left;
        box-sizing: border-box;
        width: 275px;

        .dbd-left-panel-header-search-input {
          float: left;
          height: 30px;
          width: 190px;
          input {
            border: 0;
            height: 30px;
          }
        }

        .dbd-left-panel-header-search-btn {
          margin: 0px;
          height: 30px;
          width: 30px;
          line-height: 30px;
          vertical-align: middle;
          text-align: center;
        }

      }
    }

    .dbd-left-panel-widgets {
      width: 100%; 
      height: auto; 
      overflow-x: hidden;
      overflow-y: hidden;
      position: relative;

      .dbd-left-panel-widget {
        width: 283px;
        height: 30px;

        &:hover {
            font-weight: bold;
        }

        .fa-plus{
            margin-top:9px;
            margin-left: -16px;
            float: right;
            color: #878c90;
            display: none;
        }

        .dbd-left-panel-widget-text {
          float: left;
          width: 260px;
          padding-right: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          margin-top: 9px;
          cursor: move;
        }

        button {
          display: none;
          margin: 0px;
          float: right !important;
        }
      }

      .dbd-left-panel-widget:hover button {
        display: block;
      }

    }
    
    .dbd-right-panel-editdashboard-general,.dbd-right-panel-editdashboard-set-general{
        .oj-label-required-icon{
            margin-left: 0;
        }
    }

  }

  .dbd-left-panel-footer {
    height: 56px;
  }

}

.dbd-left-panel-img-pop {
    display: none;
    height:180px;
    width: 400px;
    z-index: 40;

    img {
        width: 100%;
        height: 100%;
    }
}

#dbd-left-panel-text {
    cursor: move;
}

.left-panel-text-helper {
    display: none;
}

#left-panel-text-helper-content {
    font-size: 1.2em; 
    font-weight: bold;
}

#dbd-left-panel-link {
    cursor: move;
}

.left-panel-link-helper {
    display: none;
}

.ui-draggable-dragging {

  .left-panel-text-helper {
    display: block;
    z-index: 80;
  }

  .left-panel-link-helper {
    display: block;
    z-index: 80;
  }

  #dbd-left-panel-text-handle {
    display: none;
  }

  #dbd-left-panel-link-handle {
    display: none;
  }
}

.ui-draggable-disabled #dbd-left-panel-link-handle {
    color: #9e9e9e;
    cursor: pointer;
}

.dbd-tile-link-wrapper {
    width: 100%;
    height: 20px;
    border: 0px;
    padding-top: 5px;
    display: block;
}

.dbd-tile-link {
    display: none;
    width: 100%;
    padding-right: 90px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.0em;
    float: left;
    margin: 0px;
    margin-right: -90px;
}

.dbd-tile-link-wrapper:hover:not(.dbd-tile-link-empty) .dbd-display-area-editor-btn {
    display: inline;
}

.dbd-tile-link:not(.dbd-tile-link-empty) {
    display: inline;
}

.dbd-tile-link-btns {
    float: right!important;
    margin-top: -5px;
    display: block;
    position: relative;
}

.oj-dialog-footer .edit-tile-link-confirm-btn {
    margin-bottom: 4px; 
    background-image: none;
    text-shadow: none;
    color: #ffffff;
    font-weight: bold;
    background-color: #0572ce;
    border: 1px solid #0476d3;
    border-radius: 2px;
    text-align: right;
    box-shadow:none; 
}

.oj-dialog-footer .edit-tile-link-confirm-btn:hover {
    background-color: #3a9aea;
    border: 1px solid #3a9aea;  
    background-image: none;
}

.oj-dialog-footer .edit-tile-link-confirm-btn:disabled {
    background-color: #f4f6f7;
    background-image: none;
    border-color: #e0e6eb;
    color: #9e9e9e;
    cursor: default;
}

.oj-component-icon.oj-inputnumber-up-icon:before {
    -webkit-transform: scale(-1, 1) rotate(90deg);
    transform: scale(-1, 1) rotate(90deg);
}

.oj-component-icon.oj-inputnumber-down-icon:before {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.dbd-left-panel-footer-btns {
    border-top: 1px solid #d6dfe6; 
    padding-top: 10px;
}

.widget-paging-desc {
    margin-top: 10px;
}

.text-widget-hover-area:hover .dbd-display-area-editor-btn {
    display: inline;
}

/*.text-widget-hover-area div p {
    display: inline;
}*/
/*.cke_textcolor_new_icon {
    background: url(../images/func_textcolor_icon.png) no-repeat !important;
}*/

/*.dbd-tile-to-be-occupuied {
    border: 3px solid #F0CAC4;
}*/

.dbd-right-panel-editdashboard-innertitle{
    color: #0572ce;
}



.dbd-right-panel-collapsible-disabled{
    color: #9e9e9e;
}

.dbd-right-panel-title{
    background-color: #d1e7cc ;
}

.dbd-icon-resize{
    line-height: 12px;
    margin-right: 3px;
}
.dbd-icon-resize:before{
    content: "\f065"; 
}
.dbd-icon-remove{
    line-height: 12px;
    margin-right: 3px;
}
.dbd-icon-remove:before{
   content: "\f00d";  
}
.dbd-icon-eye{
    line-height: 12px;
}
.dbd-icon-eye:before{
    content: "\f06e";
}
.dbd-icon-eye-slash{
     line-height: 12px;
}
.dbd-icon-eye-slash:before{
    content:"\f070";
}
.dbd-toolbar-icon-option:before{
    content:"\f013";
}
.dbd-tile-icon-option:before{
     content:"\f013";
}
.dbd-tile-icon-expand:before{
     content:"\f065";
}
.dbd-tile-icon-compress:before{
     content:"\f066";
}
 
@media print {
    .no-print {
        display:none !important;
    }
    
    html,body,div,table {
        float: none !important;
    }
    
    #globalBody{
        width: auto !important;
    }
    
    html,body,#globalBody,#dashboards-tabs-contents,.dashboard-content {
        position:relative !important;
        overflow: visible !important;
    }
    
    .page-break,.dashboard-content{
        display:block !important;
        page-break-after: always;
        page-break-inside: avoid;
    }
    
    .dashboard-picker-container{
        display:none !important;
    }

    .tiles-col-container{
        height: auto !important;
        overflow: visible !important;
    }

    .dbd-widget > div {
        position:relative !important;
        page-break-inside: avoid;
    }
    
    @page {
        size: A3 landscape;
        /*margin: 23cm;*/
    }
}

.dashboard-picker-container.df-collaps {
    margin-right: 380px;
}

//new dashbord set css
#dbd-tabs-container{
    .oj-tabs-nav-root{
        height:48px;
    }
    #dbd-set-name{
        height: 40px;
        line-height: 40px;
        background-color: #3caf85;
        padding-right:3px;
        margin-top:7px;
        margin-left:10px;
        > span{
            color: white!important;
            font-weight: bold;
            font-size: 15px;
            padding-left: 16px;
            min-width: 180px;
        }
        #tabs-caret{
            width: 35px;
            background-color: #3CAF85;
            background-image: none;
            border-color: #3CAF85;
            .oj-button-menu-dropdown-icon{
                color: white;
            }
            .oj-button-text{
                display: none;
            }
            &:hover{
                cursor: pointer;
            }
        } 
    }
    #add-nav{
        .dbd-icon-add{
            color: #878c90;
            padding-top: 24px;
        }  
        &:hover{
            cursor: pointer;
        }
    }
  
    .dbd-tabs-nav{
        .other-nav {
            .oj-tabs-gen-div{ 
                margin-bottom: 0;  
                height:36px;
                .oj-tabs-gen-a{
                    margin-right: 5px;
                    margin-bottom: -6px;
                    .tabs-name{
                        text-decoration: none;
                    }
                }  
            }
        }
        .other-nav.creator-false{
            margin-left:10px;
            .oj-tabs-gen-a{
                padding-left: 5px;
                padding-right: 0;
            }
        }
        .other-nav:not(.oj-selected){
            .oj-tabs-close-icon{
                display: none;
            }
        }
        .other-nav:first-child{
            margin-top: 7px;
            margin-left: 5px;
        }
        .other-nav.oj-selected{
            border-top-color: transparent;     
            margin-top:7px;
            border-bottom: 2px solid;
            border-bottom-color: #3caf85;
            background:transparent;
            .oj-tabs-gen-div{
                border-color: transparent;
            }
        }
        .other-nav.oj-active{
            a{
                background-color: transparent;
            }
        }
    }
    .dbd-tabs-nav.ui-sortable{
        .oj-tabs-close-icon{
            margin-top: 6px;
        }        
    }
    .other-nav-info{       
        border-bottom: none;
        padding: 0;
        
        .dbd-info-head{
            display: inline;
            margin-left:18px;
            h1 {
                display: inline;
                font-size: 1.286rem;
            }
            .dbd-function-set{
                display: inline;
                float: right;
                .single-dbd-option{
                    &.oj-default{
                        background-color: transparent;
                        background-image: none;
                        border-color: transparent;
                    }
                    .oj-button-text{
                        font-weight: normal;
                    }
                    .oj-button-menu-dropdown-icon{
                        display: none;
                    }
                }
            }
        }
        .dbd-info-detail{
            margin-top: 20px;
            margin-left: 18px;
        }
    }
    .add-info{
        background-color: #F7F7F7;
        border-bottom: 0;
    }
    //hack default overflow
    .oj-conveyorbelt{
        > div:last-child{
            .oj-conveyorbelt-overflow-indicator{
               margin-top: 6.5px;
            }
        }
    }
}

#changeDashboardsetInfo{
    #nameDescription{     
        .oj-collapsible-content{
            border:0;
        }
    }
    #shareSettings{
        #dashboardset-refresh{
            margin-top: 10px;
        }
    }
    .edit-dbsset-title{
        font-size: 14px;
        background-color:#F9F9F9;
        border:0;
        a{
            font-size: 14px;
        }
    }
}

.dbd-noselected{
    padding-left: 14px;
}
.dbd-icon-add:before{
    content: "\f067";
}
.dbd-icon-gear:before{
    content: "\f013";
}
.dbd-icon-refresh:before{
    content: "\f021";
}
.dbd-icon-users:before{
    content: "\f0c0";
}
.dbd-icon-check:before{
    content: "\f00c";
}

#dashboardset-print-mask {
    position:absolute; 
    left:0; 
    top:0; 
    z-index:900; 
    background-color:black; 
    opacity: 0.4; 
}

.dbd-icon-disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.edit-setting-head{
    position:relative; 
    float:left; 
    width:240px;
    overflow: hidden; 
    font-family: Arial;
    font-weight: 500; 
    font-size: 16px; 
    color:#99A5BC; 
    margin-top:10px; 
    margin-left: 10px;        
    margin-bottom: 10px;   
}
.edit-setting-link{
    position:relative; 
    float:left; 
    width:240px;
    overflow: hidden; 
    margin-bottom:10px; 
    margin-left: 20px; 
    white-space:nowrap;
    color:#3085C7;  
    font-family:Arial;
    font-size: 14px; 
    font-weight:500;
    text-overflow:ellipsis;
}

.oj-flex .oj-flex-item .oj-select-chosen {
    padding-right: 20px;
}

.share-default-settings {
    margin-top: 15px;
}

.share-default-value {
    color: grey;
    margin-top: 5px;
}
