/* 
    Document   : override
    Created on : <date>
    Author     : wenjzhu
    Description:
        This is where any of your application specific styles should be included
*/

.dbs-lock-icon-24:before{content:" ";background:url(../images/dfSprite.png) no-repeat 0px -704px;height:16px;padding-left:18px;}//qual_lock_16_full

.dbs-search-icon:before {content:" ";background:url(../images/dfSprite.png) no-repeat 0px -528px;height:16px;padding-left:18px;}//func_search_16_ena

.dbs-clear-icon:before {content:" ";background:url(../images/dfSprite.png) no-repeat 0px -880px;height:16px;padding-left:18px;}//clearEntry_ena

.icon-delete-ena-16:before{content:" ";background:url(../images/dfSprite.png) no-repeat 0px -1008px;height:16px;padding-left:18px;}//func_delete_16_ena

.icon-trashcan-ena-16:before{content:" ";background:url(../images/dfSprite.png) no-repeat 0px -352px;height:16px;padding-left:18px;}//func_trashcan_16_ena
.oj-button.oj-hover .icon-trashcan-ena-16:before, .oj-button.oj-hover.oj-selected .icon-trashcan-ena-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -464px;height:16px;padding-left:18px; }//unc_trashcan_16_hov
.oj-button.oj-active .icon-trashcan-ena-16:before, .oj-button.oj-selected .icon-trashcan-ena-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -368px;height:16px;padding-left:18px; }//func_trashcan_16_act
.oj-button.oj-disabled .icon-trashcan-ena-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -336px;height:16px;padding-left:18px; }//func_trashcan_16_dis

.icon-locationinfo-16:before{content:" ";background:url(../images/dfSprite.png) no-repeat 0px -256px;height:16px;padding-left:18px;}//func_locationinfo_16_ena
.oj-button.oj-hover .icon-locationinfo-16:before, .oj-button.oj-hover.oj-selected .icon-locationinfo-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -272px;height:16px;padding-left:18px; }//func_locationinfo_16_hov
.oj-button.oj-active .icon-locationinfo-16:before, .oj-button.oj-selected .icon-locationinfo-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -320px;height:16px;padding-left:18px; }//func_locationinfo_16_act
.oj-button.oj-disabled .icon-locationinfo-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -288px;height:16px;padding-left:18px; }//func_locationinfo_16_dis

.icon-gridview-16:before{content:" ";background:url(../images/dfSprite.png) no-repeat 0px 0px;height:16px;padding-left:18px;}//func_ninesquareboxes_16_ena
.oj-button.oj-hover .icon-gridview-16:before, .oj-button.oj-hover.oj-selected .icon-gridview-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -16px;height:16px;padding-left:18px; }//func_ninesquareboxes_16_hov
.oj-button.oj-active .icon-gridview-16:before, .oj-button.oj-selected .icon-gridview-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -128px;height:16px;padding-left:18px; }//func_ninesquareboxes_16_onb
.icon-listview-16:before{content:" ";background:url(../images/dfSprite.png) no-repeat 0px -496px;height:16px;padding-left:18px;}//func_threehorizontalbars_16_ena
.oj-button.oj-hover .icon-listview-16:before, .oj-button.oj-hover.oj-selected .icon-listview-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -384px;height:16px;padding-left:18px; }//func_threehorizontalbars_16_hov
.oj-button.oj-active .icon-listview-16:before, .oj-button.oj-selected .icon-listview-16:before {
    content:" ";background:url(../images/dfSprite.png) no-repeat 0px -400px;height:16px;padding-left:18px; }//func_threehorizontalbars_16_onb

.dbs-icon-size-16 {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    font-size: 16px;
}

.dbs-welcome-centeredImage{
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    vertical-align: middle;
}

.dbs-welcome-content{
    //padding-left: 4px;
    //padding-right: 4px; 
    margin-left: 5px;
    margin-right: 5px; 
    height: 55px;
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    border-radius: 8px;
    background-color: #e8f2fb;
}

.main-content-area {
    margin: 0px;
    padding: 0px;
    /*padding-top: 10px;*/
}

.dbs-tab-container {
    background-color: transparent;
    background: transparent;
    margin: 0px;
    padding: 0px;
    min-height: 500px;
    
}

.dbs-search-box { 
    border:1px; 
    border-radius: 2px;
    border-style: solid;
    background-color: #fcfdfe;
    border: 1px solid #d6dfe6;   
    white-space: nowrap;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    height: 2.286rem;
    padding: 0px;
    min-width: 8em; 
    max-width: 480px;
    margin-right: 5px;
} 

.dbs-search-box-input { 
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
    border: 0px;
    border-radius: 8px;
    border-color: #fcfdfe;
    padding: 0px;
    padding-left: 5px;
    margin: 0;
    max-width: 1024px;
    min-width: 50px
} 

.dbs-search-box-input input { 
    border: 0px;
    border-color: #fcfdfe;
    border-radius: 8px;
    //height: 2.286rem;
    padding: 0px;
    margin: 0;
    max-width: 1024px;
    min-width: 50px
} 
    
.dbs-summaries-container {
    //background: #ffffff;
}

.dbs-summary-container {
    width:  320px;
    height: 200px;
    display: inline-block;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    //vertical-align: top;
    //background-color: transparent;
    //background: transparent;
    background: #ffffff;
    border: 1px solid #d6dfe6;   
    border-color: #D6DFE6;   
    border-radius: 1px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dbs-summary-container.active {
    /*border: solid thick;*/
    /*border-color: #85bbe7;*/ 
    border: solid thin;
    border-color: #0572ce;
    cursor: pointer;
}

.dbs-summary-header-container {
    height: 30px;
    position: relative;
    padding: 0px;
    margin: 0px;
}

.dbs-summary-header-title {
    text-align: left;
    padding-top: 6px; 
    padding-left: 5px;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
}

.dbs-summary-header-toolbar {
    position: absolute; 
    top: 0; 
    width: 100% ; 
    vertical-align: central;
    display: inline-block;
}

.dbs-summary-header-toolbar.active {
    //display: inline-block;
}

.dbs-summary-pages {
    position: relative;
    overflow: hidden;
    //width: 100%;
    //height: 170px;
}

.dbs-summary-page {
    display: none;//inline-block;  
    width: 100%;
    height: 165px;
    min-height: 165px;
    float: left;
}

.dbs-summary-page.active {
    display: inline-block;
}

.dbs-summary-page-scroll {
    overflow-y: scroll;
}

.dbs-summary-page-image {
   width: 100%;
   //height: 165px;
   height: auto;
   //max-height: 165px;
   text-align:center;
}

.dbs-summary-page-info-pop .oj-popup-content {
   padding: 5px;
   padding-bottom: 0px;
}

.dbs-icon {
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 16px;
  padding-right: 5px;
  padding-bottom: 3px;
  line-height: 0;
  overflow: hidden;
  direction: ltr;
  text-align: center;
  vertical-align: bottom;
  -moz-box-sizing: content-box;
  box-sizing: content-box; 
}

//hack default 'create name validation' css style
#cDsbDialog{
    .oj-dialog-body{
            .oj-inputtext{
                .oj-message-content{
                    .oj-message-summary{
                        display: inline;
                    }
                    .oj-message-detail{
                        display: inline;
                    }
                }
            }
    }
}

.oj-label-required:before{content:'*'}

.oj-button.oj-button-full-chrome.dbs-home-blue-button {
    background-image: none;
    text-shadow: none;

    color: #ffffff;
    font-weight: bold;
    background-color: #0572ce;
    background: linear-gradient(to bottom, #0470c9 0%, #0571cd 50%, #0479d8 100%);
    border: 1px solid #0476d3;
    border-radius: 2px;
    
    text-align: right;
    box-shadow:none;        
}

.oj-button.oj-button-full-chrome.dbs-home-blue-button:hover{
    background-color: #3a9aea;
    border: 1px solid #3a9aea;  
    background-image: none;
}

a:hover {
 cursor:pointer;
}

.busy, .busy *{
    cursor: progress !important;   
}

@media print, screen {
    
    .main-content-area-sm {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 550px;
        min-width: 550px;
        max-width: 550px;
    }
    .dbs-filter-panel-sm {
    width: 35%; }
    .dbs-tiles-panel-sm {
    width: 65%; }
}

@media print and (orientation: landscape), screen and (min-width: 890px) {
    .dbs-filter-panel-md {
    width: 20%; }
    .dbs-tiles-panel-md {
    width: 80%; }
    .dbs-rbtns-panel-md {
        padding-right: 13px;
    }
    .main-content-area-md {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 850px;
    min-width: 850px;
    max-width: 850px;}
}

@media print and (orientation: landscape), screen and (min-width: 1240px) {
    .dbs-filter-panel-lg {
    width: 16%; }
    .dbs-tiles-panel-lg {
    width: 84%; }
    .dbs-rbtns-panel-lg {
        padding-right: 10px;
    }
    .main-content-area-lg {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 1203px;
    min-width: 1203px;
    max-width: 1203px;}
}

@media print and (orientation: landscape), screen and (min-width: 1580px) {
    .dbs-filter-panel-xsl {
    width: 13%; }
    .dbs-tiles-panel-xsl {
    width: 87%; }
    .dbs-rbtns-panel-xsl {
        padding-right: 10px;
    }
    .main-content-area-xsl {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 1545px;
    min-width: 1545px;
    max-width: 1545px;}
}

@media print and (orientation: landscape), screen and (min-width: 1940px) {
    .dbs-filter-panel-xl {
    width: 11%; }
    .dbs-tiles-panel-xl {
    width: 89%; }
    .dbs-rbtns-panel-xl {
        padding-right: 20px;
    }
    .main-content-area-xl {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 1900px;
    min-width: 1900px;
    max-width: 1900px;}
}


// for dashboard set home seletor layout
@media print, screen {
    
    .dbs-tiles-container-full-sm {
        margin-left: auto;
        margin-right: auto;
        float: none;
       
        width: 350px;
        min-width: 350px;
        max-width: 350px;}
    
        .df-collaps .dbs-tiles-container-full-sm {
            width: 350px;
            min-width: 350px;
            max-width: 350px;
        }
    
}
@media print, screen and (min-width: 801px) {
    
    .dbs-tiles-container-full-sm {
        margin-left: auto;
        margin-right: auto;
        float: none;
       
        width: 670px;
        min-width: 670px;
        max-width: 670px;}
    
        .df-collaps .dbs-tiles-container-full-sm {
            width: 350px;
            min-width: 350px;
            max-width: 350px;
        }
    
}
@media print and (orientation: landscape), screen and (min-width: 1080px) {
   .dbs-tiles-container-full-md {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 1002px;
    min-width: 1002px;
    max-width: 1002px;
        .oj-xl-6 {
            -webkit-flex: 0 1 30%;
            flex: 0 1 30%;
            max-width: 30%;
            width: 30%;
        }
   }
   
   .df-collaps .dbs-tiles-container-full-md {
        width: 672px;
        min-width: 672px;
        max-width: 672px;
   }
   
}

@media print and (orientation: landscape), screen and (min-width: 1435px) {
    .dbs-tiles-container-full-lg {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 1337px;
    min-width: 1337px;
    max-width: 1337px;}
    
    .df-collaps .dbs-tiles-container-full-lg {
        width: 1024px;
        min-width: 1024px;
        max-width: 1024px;
    }
}

@media print and (orientation: landscape), screen and (min-width: 1749px) {
    .dbs-tiles-container-full-xl {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 1670px;
    min-width: 1670px;
    max-width: 1670px;}
    
    .df-collaps .dbs-tiles-container-full-xl {
        width: 1340px;
        min-width: 1340px;
        max-width: 1340px;
   }
}
