/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 5, 2014, 7:31:43 PM
    Author     : miao
*/
/* df: Dashboard Framework */

.df-dialog-header-close {
    float:right;
    color: red;
    font-size: xx-small;
}

a.df-dialog-header-close:visited {
    color: red;
}

.df-dialog-header-close-bigger {
    float:right;
    color: red;
    font-size: small;
}

a.df-dialog-header-close-bigger:visited {
    color: red;
}

a:hover {
 cursor:pointer;
}

/*.dbs-nav-mapping-icon-24:before{content:url("images/compassIcon_24.png");}
.dbs-nav-mapping-icon-32:before{content:url("images/compassIcon_32.png");}*/

.loadingIndicator{
    position:fixed;
    top:0;
    margin-left:-65px;
    width:120px;
    height:15px;
    left: 50%;
    z-index:999;
    background-color: #e6ffe0;
    padding: 5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-top:none;
    box-shadow: 2px 2px 2px #888888;
}

div.dsbinfopopson{
    position:relative;
    word-wrap: break-word;
    line-height: 1.2rem;
    max-height: 2.4rem;
    overflow: hidden;
}

div.dsbinfopopson::after{
    content:"...";position:absolute;top:1.2rem;right:0;padding-left:40px;
    background:-webkit-linear-gradient(left,transparent,white);
    background:-o-linear-gradient(right,transparent,white);
    background:-moz-linear-gradient(right,transparent,white);
    background:linear-gradient(toright,transparent,white);
}

/*.fa-icon-font {
  font-family: FaFont;
  font-size: 1.34rem;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-icon-font:before{
    display: inline-block;
}

.fa-link:before {
  content: "\f0c1"; 
}

.fa-star:before {
  content: "\f005"; }

.fa-history:before {
  content: "\f1da"; 
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}*/

/*@font-face {
  font-family: 'FaFont';
  src: url("fonts/fontawesome-webfont.woff");
  font-weight: normal;
  font-style: normal; 
}*/


/*#links_menu{
    background-color: white;
    position: absolute;
    width: 100%;
    left:0px;
    z-index: 1000;
    max-height: 2000px;
    display: none;
    box-shadow: 3px 3px 5px #888888;
}
#links_menu .oj-row{
    height:24px;
    line-height: 24px;
}
#links_menu .links-content-container{
    margin : 30px 0;
    float: left;
    width: 100%;
}
#links_menu .iconCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#iconLink{
    background-color: #ed813e;
}
#iconStar{
    background-color: #5a68ad;
}
#iconHistory{
    background-color: #3caf85;
}

#links_menu .iconCircle .fa {
    font-size: 5em;
    color: white;
}*/