/*@font-face { 
    font-family: 'FaFont';
    src: url("../../../libs/@version@/css/font-awesome/fonts/fontawesome-webfont.woff2") format("woff2"),
         url("../../../libs/@version@/css/font-awesome/fonts/fontawesome-webfont.woff") format("woff"); 
    font-weight: normal; 
    font-style: normal; 
}*/
.time-filter-indicator.fa-icon-font { 
    font-family: FaFont; 
    font-size: 1rem; 
    display: inline-block;
    color: #878c90;
    font-weight: normal;
    speak: none;
    font-style: normal;
    font-variant: normal; 
    text-transform: none; 
    text-align: center;
    -moz-box-sizing: content-box; 
    box-sizing: content-box; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.panel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #fcfdfe;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
    /*border-radius: 2px;*/
    /*height: 396px;*/
    /*width: 630px;*/
}
.drawers {
    width: 104px;
    /*float: left;*/
    /*border: 1px solid #F0F0F0;*/
    /*height: 396px;*/
    background-color: #fcfdfe;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

.drawer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: black;
/*    border-width: 0px;
    border-style: solid;
    border-color: #FFFFFF; //#dfe4e7;*/
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 6px;
    height: 18px; //20px;
    width: 94px;
    display: block;
}

.drawerNotChosen {
    background-color:  #fcfdfe; //#FFFFFF; /*#f0f0f0 !important;*/
    /*font-weight: normal !important;*/
}

.leftDrawerChosen {
    background-color:  #ebeced; //#E4F0FA; /*#ffffff !important;*/
    /*font-weight: bold !important;*/
    /*border-left: 3px solid #0572ce;*/
}

.leftDrawerHover {
    background-color: #ebeced; //#F0F0F0;
    /*border-left: 3px solid #85bbe7;*/
}

.rightDrawerChosen {
    background-color:  #ebeced; //#E4F0FA; /*#ffffff !important;*/
    /*font-weight: bold !important;*/
    /*border-right: 3px solid #0572ce;*/
}

.rightDrawerHover {
    background-color: #ebeced; //#F0F0F0;
    /*border-right: 3px solid #85bbe7;*/
}

.drawerNotToShow {
    display: none;
}

.drawers a:visited {
    color: black;
}
.drawers a:link, a:hover {
    text-decoration: none;
}

.drawers a:active {
    font-weight: normal;
}

.pickerPanel {
    width: 550px; //510px;
    height: 489px; //402px;
    /*float: right;*/
    padding-top: 10px;
    /*padding-left: 10px;*/
    margin-top: -1px;
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #fcfdfe; //#ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe4e7;
}

.lrControlRadios {
    padding-left: 15px;
    padding-bottom:10px;
    display: inline-block;
    width: 93%;
}

.picker-panel-padding-right {
    padding-right: 10px;
}

.picker-panel-padding-left {
    padding-left: 10px;
}

.chosenDate {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: inline;
    height: 30px;
    width: 60px;
    line-height: 30px;
    vertical-align: middle;
}
.to {
    padding: 5px;
    display: inline-block;
}
.chosenTime {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: inline-block;
    height: 32px;
    width: 150px;
    vertical-align: middle
}
.buttons {
    margin: 10px;
}
.errorMsg {
    margin: 10px;
    font-size: 14px;
    color: red;
    /*font-weight: bold;*/
    width: 510px;
}
.datePicker {
    font-size: 15px;
    padding-left: 5px;
    /*padding-top: 10px;*/
}

.datePicker .oj-datepicker-content {
    padding: 0px;
}

.drawer img {
    float: right;
    margin: auto;
    width: 15px;
    height: 15px;
    margin-top: 8px;
    margin-right: 5px
}

.date-selected {
    background-color: #0572ce;
}

.input-focus {
    border: 1px solid  #47bdef;;
}

.input-error {
    border: 2px solid #d66;
}

/*set min-width of ojInputText*/
.oj-inputtext {
    min-width: 90px;
}

.oj-datepicker-inline .oj-datepicker-content {
    border: 0px;
}

/*set the header of calender*/
.oj-datepicker-header {
    height: 25px;
    background-color: #f0f0f0;
}

/*set max-width of the calendar*/
.oj-inputdatetime-inline {
    max-width: 250px;
}

/*set the border of each day*/
.oj-datepicker-calendar td a.oj-enabled {
    border: 3px solid white;
}
.oj-datepicker-calendar td span.oj-disabled {
    border: 3px solid white;
}

.oj-datepicker-calendar td a.oj-selected {
    color: #000000;
}

.time-filter-indicator {
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 0;
    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
}
.time-filter-indicator:before{
    content: "\f069";
}
html:not([dir="rtl"]) .time-filter-indicator{
    right: 20px;
}
html[dir="rtl"] .time-filter-indicator{
    left: 20px;
}

.tf-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 14px;
}

.tf-hint {
/*        background: #F0F0F0;
    border: 1px dotted gray;*/
    font-style: italic;
    color: black;
}

.tf-row {
    padding:5px;
}

.tf-label {
    font-weight: bold;
}

.tf-errorMsg {
    color: red;
}

.tf-errorBorder {
    border: 2px solid #d66;
}

/* remove search bar in time unit selection*/
div[id^='pickerPanel'] .oj-listbox-search-wrapper {
    display: none;
}
