/* 
    Created on : 2015-2-13, 20:37:08
    Author     : aduan
*/
.nav-mapping-icon-32:before{content:url("../../images/widgets/compassIcon_32.png");}

a:hover {
 cursor: pointer;
}

@font-face {
  font-family: 'FaFont';
  src: url("../../../libs/@version@/css/font-awesome/fonts/fontawesome-webfont.woff2") format('woff2'),
       url("../../../libs/@version@/css/font-awesome/fonts/fontawesome-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal; 
}

.fa-icon-font {
  font-family: FaFont;
  font-size: 1.34rem;
  display: inline-block;
  font-weight: normal;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-align: center;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-icon-font:before{
    display: inline-block;
}

.fa-cogs:before {
  content: "\f085"; }

.fa-bar-chart:before {
  content: "\f080"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-home:before {
  content: "\f015"; }

.fa-notification:before {
  content: "\f0a2"; 
  color: #454545;
  font-size: larger;
}

.fa-compass:before {
  content: "\f14e"; 
  color: #454545;
  font-size: larger;
}

#links_menu{
    background-color: white;
    position: absolute;
    width: 100%;
    left:0px;
    z-index: 1000;
    max-height: 2000px;
    display: none;
    box-shadow: 3px 3px 5px #888888;
}
#links_menu .oj-row{
    height:24px;
    line-height: 24px;
}
#links_menu .links-content-container{
    margin : 30px auto; 
    width: 100%;
    text-align:center; 
}
.headerMenuItem {
    width: 24%;
    display: inline-block;
    vertical-align: top;
    min-width: 330px;
}
#links_menu .iconCircle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.headerMenuIcon {
    display: inline-block;
    vertical-align: top;
}
.headerMenuText {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    text-align:left; 
}
@media screen and (max-width: 1331px) and (min-width:1000px) {
    #links_menu .links-content-container {
        margin : 30px auto;
        min-width: 1000px;
        text-align:left; 
    }
    .headerMenuItem {
        display: inline-block;
        vertical-align: top;
    }
     .headerMenuItem:first-child {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1000px) and (min-width:670px) {
    #links_menu .links-content-container {
        margin : 30px auto;
        min-width: 670px;
        text-align:left; 
    }
    .headerMenuItem {
        display: inline-block;
        vertical-align: top;
    }
     .headerMenuItem:first-child {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 670px) {
    #links_menu .links-content-container {
        margin : 30px auto;
        min-width: 330px;
        text-align:left; 
    }
        
    .headerMenuItem {
        display: inline-block;
        margin-top: 30px;
        vertical-align: top;
    }
    
    .headerMenuItem:first-child {
        margin-top: 0px;
    }
}

#iconCogs{
    background-color: #3caf85;
}
#iconDashboard{
    background-color: #ed813e;
}
#iconAnalyzer{
    background-color: #5a68ad;
}
#iconCloudServices{
    background-color: #ed813e;
}
#iconHome{
    background-color: #488AC7;
}

#links_menu .iconCircle .fa {
    font-size: 4em;
    color: white;
}

.emaas-appheader-appname-table-cell-middle{
    display:table-cell;
    vertical-align: middle;
}

.emaas-appheader-lite .emaas-appheader-logo {
    margin-top: 9px; 
    margin-bottom: 5px; 
    float:left;
    outline:none;
}

.emaas-appheader-logo .emaas-appheader-logo-img {
    vertical-align: middle;
    display:block;
}

.emaas-appheader-logo .emaas-appheader-logo-img:hover {
    cursor: pointer;
}

.emaas-appheader-lite .emaas-appheader-appname {
    font-size: 15px;
    font-weight: bold;
    color: #454545;
}

.emaas-appheader-lite .emaas-appheader-appname-oneline {
    font-weight:normal;
}

.emaas-appheader-lite .emaas-appheader-appname-twoline {
    font-weight:normal;
}

.emaas-appheader {
    background-color: #f5f5f5;
    border-bottom-style: solid;
    border-bottom-color: #fff;
    border-bottom-width: 1px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
    position: relative;
    margin-bottom: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.emaas-appheader-toolbar-container .oj-toolbar {
    display: inline-block;
    margin-right: 0;
    margin-left: 0;
}

.emaas-appheader-lite .oj-toolbar {
    margin-top: 0px;
}

.emaas-appheader-toolbar-container{
    text-align:right;
    float:right;
}

.emaas-appheader-toolbar{
    height:27px; 
}

.emaas-icon-font{
    font-family:AppFont;
    font-size:1.34rem;
    line-height:1;
    display:inline-block;
    font-weight:normal;
    speak:none;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-align:center;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.emaas-icon-font:before{
    display:inline-block
}

.emaas-appheader-toolbar-button:hover {
    cursor: pointer;
}

.emaas-appheader-toolbar-button:disabled .fa-notification:before {
  color: #9e9e9e;
}

.emaas-appheader-toolbar-button:disabled .fa-compass:before {
  color: #9e9e9e;
}

.emaas-appheader-toolbar-button:disabled:hover {
  cursor: default;
}

.emaas-appheader-lite .emaas-appheader-seperator {
    display: inline-block;
    height: 14px;
}
.emaas-appheader-lite .emaas-appheader-appname-oneline {
    display: inline-block;
}
.emaas-appheader-lite .emaas-appheader-appname-twoline {
    display: none; //block;
    padding-top: 2px;
}
.emaas-appheader-toolbar{
    height:27px; //44px;
}
.emaas-appheader-toolbar-button {
    height:27px; //44px;
    line-height: 27px; //44px;
}
.emaas-appheader-toolbar-button-icon {
    width:16px; //32px;
    height:16px; //32px;
    vertical-align: middle;
}
.fa-notification:before {
    font-size:xx-large;
}
.fa-compass:before {
    font-size:xx-large;
}

.emaas-appheader-message-box {
    padding-left: 30px;
    min-height: 36px;
    vertical-align: middle;
    line-height: 36px;
    overflow: hidden;
}
.emaas-appheader-message-box-error {
    background-color: #FFDFDF;
    border-bottom: 1px #ffc5c5; 
}
.emaas-appheader-message-box-warn {
    background-color: #FFEACA; 
    border-bottom: 1px #ffe0b0; 
}
.emaas-appheader-message-box-confirm {
    background-color: #D6F1DE;
    border-bottom: 1px #c3ebcf;
}
.emaas-appheader-message-box-info {
    background-color: #D9EDF8;
    border-bottom: 1px #bfe4f8; 
}
.emaas-appheader-message-box-tool {
    background-color: #f0f0f0;
    border-bottom: 1px #c4ced7; 
}
.emaas-appheader-message {
    font-size:14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #333333;
    text-align: left;
}
.emaas-appheader-message-summary {
    font-weight: bold;
}
.emaas-appheader-message-detail {
    font-weight: normal;
    padding-left:10px;
}
.emaas-appheader-message-icon{
    vertical-align: middle;
    height:16px;
    width:16px;
}
.emaas-appheader-message-textbox {
    padding-left:10px;
    line-height: 20px;
    font-size: 0;
}
.emaas-appheader-message-table-cell {
    display: table-cell;
}
.emaas-appheader-message-icon-clear {
    cursor: pointer;
}
.emaas-warn-msg-table-cell {
    display:table-cell;
    vertical-align: top;
}

.em-about-box
{
    background-color: #38A0D9; 
    border-color: #38A0D9;
    background-image: none;
}
.em-about-dialog-body 
{
    padding-top: 0px; 
    padding-left: 0px; 
    padding-right: 0px; 
    background-color: white
}
.em-about-dialog-content
{
    display:table; 
    background-repeat: repeat-x;
    width:100%;
}
.em-about-box .oj-dialog-close-icon
{
    color: #FFFFFF;
}

.emaas-appheader-global-context {
    font-size: 14px;
    background-color:#EDEDED;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
}
.emaas-appheader-composite-context, .emaas-appheader-time-context {
    line-height:30px;
    vertical-align: middle;
    text-align: center;
}
.emaas-appheader-composite-context {
    float:left;
}
.emaas-appheader-time-context {
    float:right;
}
